.header{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    gap: 32px;

    /*width: 1920px;*/
    height: 80px;
    background: #2F3352;
    border-bottom: 1px solid #8590AB;
    flex: none;
    order: 0;
    flex-grow: 0;

}
.projectInfo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #3C414E;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.des{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.general{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0px 0px;
    gap: 32px;

    height: 176px;
    background: #F3F8FF;
    border-bottom: 1px solid #8590AB;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.project_icon{
    width: 48px;
    height: 48px;
    background: #70D640;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#newpj{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */


/* Neutral/Black */

color: #3C414E;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.header h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */


/* Neutral/White */

color: #FFFFFF;

}