<!DOCTYPE html>
<html>

<head>
    <link href="static/css/signup.css" rel="stylesheet" />
    <link href="static/css/icon.css" rel="stylesheet" />
    <link href="static/css/root.css" rel="stylesheet" />
    <link href="static/css/components/button.css" rel="stylesheet" />
    <link href="static/css/components/logo.css" rel="stylesheet" />
    <title>Lingo</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>
    <div><a class="logo" id="full-alt" href="{% url '' %}"></a></div>
    <div>
        <form class="form" method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ username }}">
            <input type="hidden" name="email" value="{{ email }}">
            <input type="hidden" name="phone" value="{{ phone }}">
            
        <div class="title">Final Step</div>
        <div id="subtitle">Set up your password to finalize creating your account.</div>
        <div class="input-field">
            <input type="password" required="required" id="password" name="password">
            <div class="label">PASSWORD</div>
        </div>
        <div class="input-field">
            <input type="password" required="required" id="confirm-password">
            <div class="label">CONFIRM PASSWORD</div>
        </div>
        <div class="level">
            <div class="strength" id="lv1"></div>
            <div class="strength" id="lv2"></div>
            <div class="strength" id="lv3"></div>
            <div class="strength" id="lv4"></div>
        </div>
        <div id="prompt-text">Your password is too short. Please make sure it must have contains at least 8
            characters.</div>
        <div id="continue-button">
            
            <button type="submit" class="icon white size64px" id="arrow-right"></button>
        </div>
        </form>
    </div>
    <div class="footer">
        <div class="links">
            <a href="#">Help & FAQs</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookie Preferences</a>
            <div class="language">
                <div>EN</div>
                <div class="icon" id="search white"></div>
            </div>
        </div>
        <div class="copyright">@ 2023 LingoTeam. All rights reserved.</div>
        <div></div>
    </div>

</body>
<script src="static/js/password.js"></script>

</html>