<!DOCTYPE html>
<html>

<head>
    <link href="static/css/signup.css" rel="stylesheet" />
    <link href="static/css/components/button.css" rel="stylesheet" />
    <link href="static/css/icon.css" rel="stylesheet" />
    <link href="static/css/root.css" rel="stylesheet" />
    <title>Lingo</title>
</head>

<body>
    <div class="background"></div>
    <a class="logo" href="{% url '' %}">Lingo</a>
    <div>
        <form class="form" method="post" action="{% url 'signin' %}">
            {% csrf_token %}
            <div class="title">Sign In</div>
            {% if error_message %}
            <div class="error">{{ error_message }}</div>
            {% endif %}
            <div class="input-field">
                <input type="text" required="required" name="username" id="username">
                <div class="label">USERNAME</div>
            </div>
            <div class="input-field">
                <input type="password" required="required" name="password" id="password">
                <div class="label">PASSWORD</div>
            </div>
            <div style="text-transform: uppercase;">You can sign in with</div>
            <div class="alt-registration">
                <a class="register-button" href="#" style="background-color: var(--neutral-white);">
                    <div class="icon" id="google"></div>
                </a>
                <a class="register-button" href="#" style="background-color: #00AAEC">
                    <div class="icon" id="twitter"></div>
                </a>
                <a class="register-button" href="#" style="background-color: #1877F2">
                    <div class="icon" id="facebook"></div>
                </a>
                <a class="register-button" href="#" style="background-color: var(--neutral-black);">
                    <div class="icon" id="github"></div>
                </a>
            </div>
            <button id="continue-button" type="submit">
                <div class="icon white size64px" id="arrow-right"></div>
            </button>
            <div style="display: flex; flex-direction: row; gap: 8px">
                <div>Don't have an account?</div>
                <a href="{% url 'signup' %}">Sign Up</a>
            </div>
        </form>
    </div>

    <div class="footer">
        <div class="links">
            <a href="#">Help & FAQs</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookie Preferences</a>
            <div class="language">
                <div>EN</div>
                <div class="icon" id="search white"></div>
            </div>
        </div>
        <div class="copyright">@ 2023 LingoTeam. All rights reserved.</div>
        <div></div>
    </div>
</body>

</html>