<!DOCTYPE html>
<html>

<head>
    <link href="static/css/signup.css" rel="stylesheet" />
    <link href="static/css/icon.css" rel="stylesheet" />
    <link href="static/css/root.css" rel="stylesheet" />
    <link href="static/css/components/button.css" rel="stylesheet" />
    <title>Lingo</title>
</head>

<body>
    <a class="logo" href="{% url '' %}">Lingo</a>
    <div>
        <form class="form" method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="title">Sign Up</div>
        <div class="input-field">
            <input type="text" required="required" name="username">
            <div class="label">USERNAME</div>
        </div>
        <div class="input-field">
            <input type="text" required="required" name="email">
            <div class="label">EMAIL ADDRESS</div>
        </div>
        <div class="input-field">
            <input type="text" required="required" name="phone">
            <div class="label">CONTACT NUMBER</div>
        </div>
        <div style="margin-top: 24px; text-transform: uppercase;">You can also create an account with</div>
        <div class="alt-registration">
            <a class="register-button" href="#" style="background-color: var(--neutral-white);">
                <div class="icon" id="google"></div>
            </a>
            <a class="register-button" href="#" style="background-color: #00AAEC">
                <div class="icon" id="twitter"></div>
            </a>
            <a class="register-button" href="#" style="background-color: #1877F2">
                <div class="icon" id="facebook"></div>
            </a>
            <a class="register-button" href="#" style="background-color: var(--neutral-black);">
                <div class="icon" id="github"></div>
            </a>
        </div>
        <button id="continue-button" class="button" type="submit" style="padding-left: 16px;">
            <div class="icon white size64px" id="arrow-right"></div>
            
        </button>
        <div style="display: flex; flex-direction: row; gap: 8px">
            <div style="color: var(--text-light)">Already have an account?</div>
            <a href="{% url 'signin' %}">Sign In</a>
        </div>
        </form>
        
    </div>
    <div class="footer">
        <div class="links">
            <a href="#">Help & FAQs</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookie Preferences</a>
            <div class="language">
                <div>EN</div>
                <div class="icon" id="search white"></div>
            </div>
        </div>
        <div class="copyright">@ 2023 LingoTeam. All rights reserved.</div>
        <div></div>
    </div>

</body>

</html>