/* Button */
.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 32px;

    width: max-content;
    height: max-content;

    background: var(--primary);
    border: none;
    border-radius: 24px;

    color: white;
    font-size: 120%;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;

    cursor: pointer;
}

button.icon {
    border: none;
    outline: none;
    background: none;
    padding: 4px;
    cursor: pointer;

    border-radius: 16px;
}

button.icon-bordered {
    border: none;
    outline: none;
    background: none;

    width: 40px;
    height: 40px;

    border: 1px solid var(--neutral-dark);
    border-radius: 8px;
    cursor: pointer;
}

button.icon-primary {
    border: none;
    outline: none;
    background: none;

    background-color: var(--primary);
    border-radius: 8px;

    cursor: pointer;
}

button.icon:hover {
    background-color: var(--neutral-light-gray);
}

.button:hover,
.button-small:hover {
    background-color: var(--primary-medium);
}

.button:active,
.button-small:active {
    background-color: var(--primary-dark);
}

.button#icon {
    padding: 6px 32px;
}

.button div {
    margin-right: 4px;
    margin-left: -12px;
}

.button#ghost {
    border: 2px solid var(--neutral-light-gray);
    background: none;

    font-weight: 500;
    color: var(--text-light);
}

/* Small variant */

.button-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 24px;

    width: max-content;
    height: max-content;

    background: var(--primary);
    border: none;
    border-radius: 8px;

    color: white;
    font-size: 100%;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;

    cursor: pointer;
}

.button-small#ghost {
    color: var(--neutral-inactive);
    
    background: none;
    border: 1px solid var(--neutral-light-gray);
}

.button-small#ghost:hover {
    color: var(--neutral-dark);
    border: 1px solid var(--neutral-dark);
}

button.action {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 24px;

    width: max-content;
    height: max-content;

    background: none;
    border-radius: 8px;

    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;

    cursor: pointer;
}

button.action#edit {
    border: 1px solid var(--neutral-dark);
    color: var(--text-light);
}

button.action#delete {
    border: 1px solid var(--accent-red);
    color: var(--accent-red);
}

.edit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    padding: 2px 12px 2px 6px;
    border-radius: 16px;
}

.edit-button:hover {
    background-color: var(--neutral-white);
}

.edit-button:focus {
    background-color: var(--neutral-light-gray);
}

a.edit-button {
    text-decoration: none;
    font-weight: 500;
    color: var(--text-default);
}