.editor-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    padding: 8px;

    border: 1px solid var(--neutral-dark);
    border-bottom: 0px;
    border-radius: 8px;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    background-color: var(--background-lighter);
}

.editor-container {
    display: flex;
    flex-direction: row;

    border: 1px solid var(--neutral-dark);
    border-radius: 8px;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.editor-container .lines {
    display: flex;
    flex-direction: column;
    padding: 26px 16px;
    box-sizing: border-box;
    gap: 17.4px;
    border-right: 1px solid var(--neutral-light-gray);
}

.editor-container .lines * {
    font-family: Consolas;
    color: var(--text-light);
}

#editor {
    width: 100%;
    height: auto;
    position: relative;
}

#editor:hover {
    outline: none;
}

#editor textarea {
    width: 100%;
    height: auto;

    padding: 16px;
    padding-right: 24px;
    box-sizing: border-box;

    font-family: Consolas;
    line-height: 200%;
    color: white;
    font-size: 18px;

    outline: none;
    border: none;

    overflow: hidden;
    resize: none;

    z-index: 999;

    caret-color: var(--text-default);
}

#editor textarea::selection {
    background-color: var(--neutral-light-gray); /* Set the background color */
    color: #ffffff; /* Set the text color */
}

textarea#change {
    width: 100%;
    height: 48px;

    margin: 16px 0px;
    padding: 12px 16px;
    box-sizing: border-box;

    border: 1px solid var(--neutral-dark);
    border-radius: 8px;

    font-size: 16px;

    resize: none;
}

#editor #listText {
    position: absolute;
    top: 0px;
    left: 0px;

    margin-left: -0.1px;
    padding: 16px;

    height: max-content;

    pointer-events: none;
}

#editor #listText * {
    font-family: Consolas;
    line-height: 200%;
    color: var(--text-default);
    font-size: 18px;

    pointer-events: none;
}

.highlight {
    background-color: yellow;
    display: inline-block;
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: -20px;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}

.highlight:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.labeledText {
    background-color: red;
    width: 20px;
}

#editor .word {
    margin-right: 0px;
}

#editor .word.empty {
    margin-right: -9.9px;
}

input#revise {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    background-color: var(--background-lighter);
    border-radius: 4px;
}

input#revise:hover {
    background-color: var(--neutral-light-gray); 
}

/* Style the checkbox when checked */
input#revise:checked {
    background-color: var(--primary);
}

input#revise::after {
    content: "✓";
    margin: 0px 4px;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--primary);
    display: none;
  }
  
  /* Show the checkmark icon when checkbox is checked */
  input#revise:checked::after {
    display: block;
  }

/* Style the label for the checkbox */
label {
    color: var(--text-light);
    margin-left: 5px;
}

::highlight(sample) {
    background-color: rgba(0, 0, 255, 0.2);
    border: 2px solid blue;
}