.logo {
    width: 120px;
    height: 32px;
    background-size: cover;
}

.logo#full {
    background-image: url('/static/images/logo/full.svg');
}

.logo#full-alt {
    background-image: url('/static/images/logo/full alt.svg');
}

.logo#lab {
    width: 160px;
    background-image: url('/static/images/logo/lab.svg');
}

.logo#lab-alt {
    width: 120px;
    height: 24px;
    background-image: url('/static/images/logo/lab alt.svg');
}