.radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio input[type="radio"] {
    display: none;
}

.radio .visibility {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    
    cursor: pointer;
}

.radio .visibility input[type="checkbox"] {
    margin-right: 5px;
  }

.radio input[type="radio"] + .visibility::before {
    content: "";
    display: block;

    min-width: 28px;
    max-height: 28px;
    
    border-radius: 99px;
    background-color: var(--neutral-white);
    box-sizing: border-box;

    margin-right: 8px;
  }

  .radio input[type="radio"]:hover + .visibility::before {
    background-color: var(--neutral-light-gray);
  }
  
  .radio input[type="radio"]:checked + .visibility::before {
    content: "✓";
    color: white;

    padding: 3px 6px;
    box-sizing: border-box;
    
    background-color: var(--primary);
    border-color: var(--primary);
  }

  .radio .checkbox {
    margin-right: 5px;
  }