/* Search bar */
.search-bar {
    display: flex;
    position: relative;
}

.search-bar input[type="text"] {        
    outline: none;
    padding: 8px 16px;
    padding-left: 40px;

    font-size: 16px;
    border: 2px solid var(--neutral-dark);
    border-radius: 16px;
}

.search-bar .icon {
    position: absolute;
    left: 8px;
    bottom: 8px;
}

.search-bar#small input[type="text"] {
    flex: 1;
    flex-grow: 1;

    outline: none;
    padding: 8px 16px;
    padding-left: 40px;

    font-size: 16px;
    border: 1px solid var(--neutral-dark);
    border-radius: 8px;
}

.search-bar#small input[type="text"]:hover {
    outline: 1px solid var(--neutral-dark);
}

.search-bar#small input[type="text"]:focus, .search-bar#small input[type="text"]:active {
    background-color: var(--neutral-white);
}

.search-bar#small .icon {
    position: absolute;
    left: 6px;
    bottom: 4px;
}