table {
    table-layout: auto;
    
    width: 100%;
    
    margin: 24px 0px;
    text-align: left;

    border-collapse: collapse;
}

th {
    color: var(--neutral-dark);
}

thead tr {
    border-bottom: 0.5px solid var(--neutral-dark);
}

th, td {
    padding: 16px 8px;
}

td:first-child {
    width: 1%;
}

tbody tr {
    margin: 8px;
    border-top: 1px solid var(--neutral-light-gray);
    border-bottom: 1px solid var(--neutral-light-gray);
}

tr td:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}