* {
    font-family: Inter;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    margin: 0px;

    color: var(--text-default);
    background: #FFFFFF;
    overflow-x: hidden;
}

.page-layout {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: max-content;
}

.sidebar {
    position: fixed;

    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 280px;
    height: 100%;

    padding: 16px;
    box-sizing: border-box;

    background-color: var(--neutral-white);
}

.button#popupButton {
    padding: 6px 32px;
}

.page-content {
    display: flex;
    flex-direction: column;

    margin-left: 280px;
    height: max-content;

    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

/* Collapsible */
.collapsible {
    display: flex;
    flex-direction: row;
    gap: 8px;

    align-items: center;

    font-size: 18px;
    font-weight: 600;
    color: var(--text-default);
}

.toggle {
    outline: none;
    border: none;
    background: none;

    cursor: pointer;
}

.content {
    display: none;
}

.group-items {
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-size: 18px;
    font-weight: 500;
    color: var(--text-light);
}

/* Project item */
.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.project-color {
    width: 32px;
    height: 32px;

    border-radius: 8px;
    background-color: red;
}

.project-name {
    text-decoration: none;
    color: var(--text-light);
}

hr {
    width: 100%;
    border: 0px;
    border-bottom: 2px solid var(--neutral-light-gray);
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.pagename {
    font-size: 28px;
    font-weight: 700;
}

.functions {
    display: flex;
    flex-direction: row;

    gap: 24px;
}

.avatar img {
    width: 40px;
}

/* Search bar */
.search-bar {
    position: relative;
}

.search-bar input {
    outline: none;
    padding: 8px 16px;
    padding-left: 40px;

    font-size: 16px;
    border: 2px solid var(--neutral-dark);
    border-radius: 16px;
}

.search-bar .icon {
    position: absolute;
    left: 8px;
    bottom: 8px;
}

/* Body content */
.container {
    display: flex;
    flex-direction: row;
    gap: 24px;

    padding: 16px 0px;

    width: 100%;
}

h1 {
    font-size: 18px;
}

.container h2 {
    margin: 0px;

    font-size: 16px;
    color: var(--text-light);
}

.left-section {
    width: 70%;
}

.right-section {
    width: 30%;
}

/* Graphs */
.graph-container {
    display: flex;
    flex-direction: row;
    gap: 16px;

    margin-bottom: 32px;
    width: 100%;

    color: var(--text-default);
}

.graph {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;

    padding: 8px 16px;
    border: 1px solid var(--neutral-dark);
    border-radius: 8px;
}

.stat {
    font-size: 36px;
    font-weight: 800;
}

/* Activity */
.activity-container {
    display: flex;
    flex-direction: column;
}

.activity-container h2 {
    margin: 8px 0px;
}

.activity {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 16px;

    padding: 4px 0px;
}

.activity .time {
    color: var(--text-light);
}

.activity .instance {}

/* Calendar */
.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 8px;
    margin: 8px 0px;

    border: 1px solid var(--neutral-dark);
    border-radius: 8px;
}

.calendar .month {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 4px;
    width: 100%;

    font-size: 18px;
    font-weight: 700;
}

.calendar .month button {
    padding: 4px;

    outline: none;
    border: none;
    border-radius: 99px;

    background: none;

    cursor: pointer;
}

.calendar .month button:hover {
    background-color: var(--neutral-white);
}

.calendar .days {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.calendar .days div {
    width: 48px;
    text-align: center;

    margin: 8px 0px;
}

.calendar .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/** Date **/

.calendar .dates button {
    justify-self: center;

    width: 40px;
    height: 40px;

    font-size: 15px;
    color: var(--text-default);

    background: none;
    border-radius: 8px;
}

.calendar .dates button:hover {
    background-color: var(--neutral-white);

    cursor: pointer;
}

.calendar .dates button.date {

    border: none;
    outline: none;
}

.calendar .dates button#outside {
    color: var(--text-light-white);
}

.calendar .dates button#today {
    font-weight: 600;
    color: white;
    background-color: var(--primary);
}

/* Task Deadline */
.task-deadline {
    display: flex;
    flex-direction: column;

    padding: 16px;
    border: 1px solid var(--neutral-dark);
    border-radius: 8px;
}

.task-deadline .deadline {
    display: flex;
    flex-direction: row;

    gap: 8px;
}

.task-deadline .deadline .content {
    display: block;
    width: 100%;
}

.task-deadline h3 {
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-light);

    margin-bottom: 8px;
}

/* Project Card */
.projects-container {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 16px;

    box-sizing: border-box;
}

.projects-container .project {
    display: flex;
    flex-direction: column;
    flex-basis: 32.33%;
    gap: 8px;

    padding: 12px 24px;
    border: 1px solid var(--neutral-dark);
    border-radius: 8px;

    box-sizing: border-box;
}

.project .header {
    display: flex;
    flex-direction: row;

    padding-top: 4px;
}

.project .header .title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project .header .participants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    isolation: isolate;
}

.project .header .participants .avatar {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: -16px;
    overflow: hidden;

    border: 2px solid white;
    border-radius: 99px;
}

.project .header .participants .avatar img {
    width: 40px;
    height: 40px;
}

.projects-container .project .name {
    font-weight: 700;
    font-size: 18px;

    text-decoration: none;
    color: var(--text-default);
}

.projects-container .project .category {
    font-weight: 500;
    font-size: 15px;

    padding: 8px 12px;
    width: max-content;

    color: var(--primary);
    background-color: var(--fill-primary);
    border-radius: 8px;
}

.projects-container .project .category#purple {
    font-weight: 500;
    font-size: 15px;

    padding: 8px 12px;
    width: max-content;

    color: var(--accent-purple);
    background-color: var(--accent-background-purple);
    border-radius: 8px;
}

.projects-container .project .description {
    color: var(--text-light);
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.project .stats {
    display: flex;
    flex-direction: row;

    width: 100%;

    justify-content: space-between;
    align-items: center;

    color: var(--text-light);
}

.project .stats .tasks {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: 600;
}

/* Tasks Stats */
.tasks-stats {
    display: flex;
    flex-direction: row;
    gap: 16px;
    
    margin-bottom: 16px;

    width: 100%;
}

.tasks-stats .stat-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    padding-left: 16px;
    width: 100%;

    border: 1px solid var(--neutral-dark);
    border-radius: 8px;
}

.tasks-stats .stat-card .stat-name {
    color: var(--text-light);
}

.tasks-stats .stat-card .num-box {
    display: flex;

    padding: 16px 32px;
    box-sizing: border-box;

    font-size: 24px;
    font-weight: 700;
    
    background-color: #FCF9E2;
    color: #F1CE12;
}

/* Tasks Container */
.tasks-container {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 16px;

    box-sizing: border-box;
}

.tasks-container .task {
    display: flex;
    flex-direction: column;
    flex-basis: 49%;
    gap: 8px;

    padding: 12px 24px;
    border: 1px solid var(--neutral-dark);
    border-radius: 8px;

    box-sizing: border-box;
}

.tasks-container .task .header {
    display: flex;
    flex-direction: row;
}

.tasks-container .task .header .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 4px;
}

.task .header .title .project-name {
    text-decoration: none;

    font-size: 18px;
    font-weight: 700;

    color: var(--text-default);
}

.task .header .title .task-name {
    text-decoration: none;

    font-size: 18px;
    font-weight: 400;

    color: var(--text-default);
}

.tasks-container .task .category {
    font-weight: 500;
    font-size: 15px;

    padding: 8px 12px;
    width: max-content;

    color: var(--primary);
    background-color: var(--fill-primary);
    border-radius: 8px;
}

.tasks-container .task .category#purple {
    font-weight: 500;
    font-size: 15px;

    padding: 8px 12px;
    width: max-content;

    color: var(--accent-purple);
    background-color: var(--accent-background-purple);
    border-radius: 8px;
}

.tasks-container .task .description {
    color: var(--text-light);
    text-overflow: ellipsis;
    overflow: hidden;
}

.tasks-container .progress-bar 
{
    display: flex;
    
    margin: 16px 0px;
    width: 100%;
    height: 8px;

    border-radius: 6px;
    background-color: var(--neutral-white);

    overflow: hidden;
}

.tasks-container .progress-bar .current
{
    display: block;

    height: 100%;
    background-color: var(--primary);
}

.tasks-container .task .stat {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 14px;
    font-weight: 400;
}

.task .participants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    isolation: isolate;
}

.task .participants .avatar {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: -16px;
    overflow: hidden;

    border: 2px solid white;
    border-radius: 99px;
}

.task .participants .avatar img {
    width: 40px;
    height: 40px;
}

button.color {
    background-color: red;
    outline: none;
    border: none;
    border-radius: 32px;

    width: 32px;
    height: 32px;
}

.visibility {
    display: flex;
    flex-direction: row;
    
    font-size: 18px;
}

.visibility .name {
    font-weight: 600;
    margin-bottom: 4px;
}

.visibility .description {
    font-weight: 400;
    color: var(--text-light);
    margin-bottom: 16px;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    gap: 24px;

    margin-top: 24px;
}


/* Footer */
.footer {
    margin: 32px 0px 8px 0px;

    color: var(--text-light);
    font-size: 90%;
}

.footer hr {
    border-bottom: 2px solid var(--neutral-white);
}

.footer .info {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 32px 0px;

    gap: 80px;
}

.footer .info .links {
    display: flex;
    flex-direction: row;

    gap: 32px;
}

.footer .info .links a {
    text-decoration: none;
    color: var(--primary);
}