.task-header {
    display: flex; flex-direction: row; gap: 8px;
}

.task-header .info {
    font-size: 18px;
}

.task-header .info :first-child
{
    font-weight: 700;
}

.task-header .info :nth-child(2)
{
    color: var(--text-light);
}