<!DOCTYPE html>

<html>

<head>
    <link href="{{STATIC_URL}}css/components/label.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/button.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/format.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/search-bar.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/table.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/pagination.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/dataset.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/badge.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/logo.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/project.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/task.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/icon.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/root.css" rel="stylesheet" />
    <title>Dashboard | LingoLab</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>
    <div class="header">
        <div style="display: flex; align-items: center; gap: 24px">
            <a href="{% url 'dashboard'%}" style="border: 1px solid white; border-radius: 99px;">
                <div class="icon white" id="arrow-left"></div>
            </a>
            <div class="logo" id="lab-alt"></div>
        </div>
        <div class="functions">
            <div class="icon white" id="globe"></div>
            <div class="icon white" id="bell"></div>
            <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
        </div>
    </div>
    <div class="project-header">
        <div class="first-row">
            <div class="name">
                <div class="color"></div>New Project
            </div>
            <div class="features">
                <div class="icon size40px" id="search"></div>
                <select>
                    <option>Private</option>
                    <option>Protected</option>
                    <option>Public</option>
                </select>
                <div class="icon size40px" id="more-horizontal"></div>
            </div>
        </div>
        <div class="second-row">
            <div class="tabber">
                <a class="tab" id="inactive" href="{% url 'project' project_id %}">Main</a>
                <a class="tab" id="inactive" href="{% url 'members' %}">Members</a>
                <a class="tab" id="inactive" href="{% url 'labels' %}">Labels</a>
                <a class="tab" id="active" href="{% url 'tasks' %}">Tasks</a>
                <a class="tab" id="inactive" href="{% url 'contribution' %}">Contribution</a>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div style="padding: 16px 100px">
        <div class=""
            style="display: flex; flex-direction: row; justify-content: space-between; width: 100%; padding: 16px 0px;">
            <div class="task-header">
                <div class="icon size40px" id="task"></div>
                <div class="info">
                    <div>Identifying objects in images for computer vision training</div>
                    <div>#PMD-123984</div>
                </div>
            </div>
            <div style="display: flex; align-items: center; gap: 16px">
                <div class="project-category" id="text-classification">Text Classification</div>
                <!-- TEXT GENERATION START <div class="project-category" id="text-generation">Text Generation</div> TEXT GENERATION END -->
                <!-- SEQUENCE LABELING START <div class="project-category" id="sequence-labeling">Sequence Labeling</div>  SEQUENCE LABELING END -->
                <button class="icon" style="padding: 0px;">
                    <div class="icon" id="more-horizontal"></div>
                </button>
            </div>
        </div>
        <div class="project-content" style="padding: 16px 0px; gap: 32px;">
            <div class="left-section">
                <h1>Description</h1>
                <div style="margin-bottom: 16px;">The task of identifying objects in images is an essential step in
                    computer
                    vision training. It involves the process of labeling images with the names of objects that appear in
                    them,
                    which can include people, animals, vehicles, buildings, and other objects. This task is important
                    for
                    machine learning algorithms to learn how to recognize objects and distinguish them from other
                    elements
                    in an
                    image. By accurately identifying objects in images, computer vision models can be trained to
                    recognize
                    objects in real-world scenarios, such as self-driving cars, security cameras, and more.</div>
            </div>
            <div class="right-section">
                <h1>Used Labels</h1>
                <div style="display: flex; flex-direction: row; align-items: center; gap: 16px; margin-bottom: 16px;">
                    <div class="label paragraph">computer science</div>
                    <div style="border-right: 2px solid var(--neutral-light-gray); height: 24px; width: 1"></div>
                    <div class="label entity">technology</div>
                </div>
                <h1 style="margin-top: 32px;">Contributors</h1>
                <div class="participants">
                    <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                    <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                    <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                    <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                </div>
            </div>
        </div>
        <div class="theader">
            <div style="display: flex; gap: 12px; align-items: center;">
                <h1>Dataset</h1>
                <div class="num">11</div>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center; gap: 8px">
                <div style="display: flex; flex-direction: row; gap: 16px">
                    <div>Results per page: </div>
                    <select>
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                    </select>
                </div>
                <div style="height: 20px; border-right: 2px solid var(--neutral-light-gray);"></div>
                <button class="icon">
                    <div class="icon" id="sort"></div>
                </button>
                <button class="icon">
                    <div class="icon" id="filter"></div>
                </button>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; width: 100%; gap: 16px; align-items: center;">
            <div class="search-bar" id="small" style="width: 100%;">
                <input placeholder="Search" type="text">
                <div class="icon" id="search"></div>
            </div>
            <button class="button-small">New Dataset</button>
        </div>
        <div class="result-amount">Showing 1 to 10 of total 200 rows</div>
        <!-- Translation -->
        {% if cate == "Translation" %}
        {% for dataset in datasets %}
        <div class="dataset-container">
            <div class="header">
                <div style="display: flex; flex-direction: row; align-items: center; gap: 16px;">
                    <div class="id">
                        <div class="icon" id="dataset"></div><a href="{% url 'dataset_translation'%}">DT#4216-4183</a>
                    </div>
                    <div class="level">Level 1</div>
                    <div class="file">
                        <span>from</span>
                        <a href="#">rawdata.txt</a>
                    </div>
                </div>
                <a class="edit-button" href="{% url 'display_dataset' task_id dataset.datasetid %}">
                    <div class="icon white" id="edit"></div>
                    <div>Edit</div>
                    <div style="border-right: 2px solid var(--neutral-light-gray); height: 32px; margin: 0px 4px;">
                    </div>
                    <div class="icon white size24px" id="expand"></div>
                </a>
            </div>
            <div class="body">
                <div style="display: flex; flex-direction: column; gap: 24px;">
                    <div style="padding: 8px 8px 0px 8px;">
                        <span style="font-weight: bold">Requirement: </span>
                        <span>{{ dataset.Requirement }}</span>
                    </div>
                    <div
                        style="width: 100%; padding: 16px; border: 1px solid var(--neutral-dark); border-radius: 8px; box-sizing: border-box;">
                        <div class="content"> {{ dataset.content }}</div>
                        <hr>
                        <div class="content"></div>
                    </div>
                </div>
                <hr>
                <div class="recent-contributors">
                    <div>Recent Contributors:</div>
                    <div class="contributor">
                        <a href="#">
                            <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                            <a class="contributor" href="#">ltngan</a>
                        </a>
                        <div>&middot;</div>
                        <div>2 hours ago</div>
                    </div>
                </div>
            </div>
            <div class="contributors">

            </div>
        </div>

        {% endfor %}
        {% endif %}
        <!-- Equivalency -->
        {% if cate == "Equivalency" or cate == "QA_Label"%}
        {% for dataset in datasets %}
        <div class="dataset-container">
            <div class="header">
                <div style="display: flex; flex-direction: row; align-items: center; gap: 16px;">
                    <div class="id">
                        <div class="icon" id="dataset"></div><a href="{% url 'dataset_equivalency' dataset.datasetid %}">{{ dataset.datasetid }}</a>
                    </div>
                    <div class="level">Level 1</div>
                    <div class="file">
                        <span>from</span>
                        <a href="#">rawdata.txt</a>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; align-items: center; gap: 24px">
                    {% if cate == "Equivalency" %}
                    <div class="badge" id="equivalent">equivalent</div>
                    {% endif %}
                    {% if cate == "QA_Label" %}
                    <div class="badge" id="equivalent">QA Labeling</div>
                    {% endif %}
                    <a class="edit-button" href="{% url 'equivalency_edit' dataset.datasetid %}">
                        <div class="icon white" id="edit"></div>
                        <div>Edit</div>
                        <div style="border-right: 2px solid var(--neutral-light-gray); height: 32px; margin: 0px 4px;">
                        </div>
                        <div class="icon white size24px" id="expand"></div>
                    </a>
                </div>
            </div>
            <div class="body">
                <div style="display: flex; flex-direction: row; gap: 24px;">
                    <div
                        style="width: 100%; padding: 16px; background-color: var(--neutral-white); border-radius: 8px;">
                        <div class="content">
                            {{ dataset.content }}
                        </div>
                    </div>
                    <div
                        style="width: 100%; padding: 16px; background-color: var(--neutral-white); border-radius: 8px;">
                        <div class="content">
                            {{ dataset.content1 }}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="recent-contributors">
                    <div>Recent Contributors:</div>
                    <div class="contributor">
                        <a href="#">
                            <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                            <a class="contributor" href="#">ltngan</a>
                        </a>
                        <div>&middot;</div>
                        <div>2 hours ago</div>
                    </div>
                </div>
            </div>
            <div class="contributors">

            </div>
        </div>
        {% endfor%}
        {% endif %}
        <!-- QA -->

        {% if cate == "QA"%}
        {% for dataset in datasets %}
        <div class="dataset-container">
            <div class="header">
                <div style="display: flex; flex-direction: row; align-items: center; gap: 16px;">
                    <div class="id">
                        <div class="icon" id="dataset"></div><a href="{% url 'dataset_qa'%}">{{ dataset.datasetid }}</a>
                    </div>
                    <div class="level">Level 1</div>
                    <div class="file">
                        <span>from</span>
                        <a href="#">rawdata.txt</a>
                    </div>
                </div>
                <a class="edit-button" href="{% url 'qa_edit'  dataset.datasetid %}">
                    <div class="icon white" id="edit"></div>
                    <div>Edit</div>
                    <div style="border-right: 2px solid var(--neutral-light-gray); height: 32px; margin: 0px 4px;">
                    </div>
                    <div class="icon white size24px" id="expand"></div>
                </a>
            </div>
            <div class="body">
                <div style="display: flex; flex-direction: row; gap: 24px;">
                    <div class="content"
                        style="width: 100%; padding: 16px; background-color: var(--neutral-white); border-radius: 8px;">
                        {{ dataset.content }}
                    </div>
                    <div class="content"
                        style="width: 100%; padding: 16px; border: 1px solid var(--neutral-dark); border-radius: 8px;">
                        
                    </div>
                </div>
                <hr>
                <div class="recent-contributors">
                    <div>Recent Contributors:</div>
                    <div class="contributor">
                        <a href="#">
                            <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                            <a class="contributor" href="#">ltngan</a>
                        </a>
                        <div>&middot;</div>
                        <div>2 hours ago</div>
                    </div>
                </div>
            </div>
            <div class="contributors">

            </div>
        </div>

        {% endfor %}
        {% endif %}

        <!-- Classification -->
        {% if cate == "Text Classification" or cate == "Entity"%}
        {% for dataset in datasets %}
            <div class="dataset-container">
                <div class="header">
                    <div style="display: flex; flex-direction: row; align-items: center; gap: 16px;">
                        <div class="id">
                            <div class="icon" id="dataset"></div><a
                                href="{% url 'dataset_classification' dataset.datasetid %}">{{ dataset.datasetid }}</a>
                        </div>
                        <div class="level">Level 1</div>
                        <div class="file">
                            <span>from</span>
                            <a href="#">rawdata.txt</a>
                        </div>
                    </div>
                    <a class="edit-button" href="{% url 'classification_edit' dataset.datasetid %}">
                        <div class="icon white" id="edit"></div>
                        <div>Edit</div>
                        <div style="border-right: 2px solid var(--neutral-light-gray); height: 32px; margin: 0px 4px;">
                        </div>
                        <div class="icon white size24px" id="expand"></div>
                    </a>
                </div>
                <div class="body">
                    <div class="paragraph label">computer science</div>
                    <div class="content">
                        {{ dataset.content }}
                    </div>
                    <hr>
                    <div class="recent-contributors">
                        <div>Recent Contributors:</div>
                        <div class="contributor">
                            <a href="#">
                                <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                                <a class="contributor" href="#">ltngan</a>
                            </a>
                            <div>&middot;</div>
                            <div>2 hours ago</div>
                        </div>
                    </div>
                </div>
                <div class="contributors">
    
                </div>
            </div>
        {% endfor %}

        {% endif %}        
        <div class="pagination">
            <div class="list-pages">
                <button>
                    <div class="icon" id="first"></div>
                </button>
                <button>
                    <div class="icon" id="previous"></div>
                </button>
                <button class="page" id="active">1</button>
                <button class="page" id="inactive">2</button>
                <button class="page" id="inactive">3</button>
                <button class="page" id="inactive">4</button>
                <button>
                    <div class="icon" id="next"></div>
                </button>
                <button>
                    <div class="icon" id="last"></div>
                </button>
            </div>
            <div class="custom-page">
                <div>Go to page:</div>
                <input type="text" value="2">
                <button class="icon-primary" style="width: 32px; height: 32px; padding: 0px">
                    <div class="icon white" id="arrow-right"></div>
                </button>
            </div>
        </div>
    </div>

    </div>
    <div class="footer">
        <hr>
        <div class="info">
            <div>@ 2023 LingoTeam. All rights reserved.</div>
            <div class="links">
                <a href="#">Support</a>
                <a href="#">Privacy</a>
                <a href="#">Contact Us</a>
                <a href="#">About</a>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script src="{{STATIC_URL}}js/collapsible.js"></script>
    <script src="{{STATIC_URL}}js/upload.js"></script>
</body>

</html>