<!DOCTYPE html>
<html>

<head>
    <link href="static/css/landing_page.css" rel="stylesheet" />
    <link href="static/css/components/button.css" rel="stylesheet" />
    <link href="static/css/icon.css" rel="stylesheet" />
    <link href="static/css/root.css" rel="stylesheet" />
    <title>Lingo</title>
</head>

<body>
    <div class="header">
        <div>Lingo</div>
        <div class="group_items">
            <a class="item" href="#">Overview</a>
            <a class="item" href="#">Features</a>
            <a class="item" href="#">Guidelines</a>
            <a class="item" href="#">Platforms</a>
            <a class="item" href="#">Contact</a>
        </div>
        <div class="group_items">
            <div class="icon size48px" id="search"></div>
            <a class="button" href="/pages/signup.html">Sign Up</a>
        </div>
    </div>

    <!-- Hero section -->
    <div class="hero">
        <div class="headline-container">
            <div class="headline">Revolutionize Your Writing with Our Advanced Labeling</div>
            <div class="subtitle">Efficiently organize, translate, and compare your content with our user-friendly web
                app.</div>
            <div>
                    <a class="button" id="icon" href="./pages/signup.html">
                        <div class="icon white size40px" id="plus"></div>Create Project
                    </a>
                <ul class="guarantees">
                    <li>Totally Free</li>
                    <li>High Accuracy Outputs</li>
                    <li>Community-based Training</li>
                </ul>
            </div>
        </div>
        <div>
            <img src="static/images/v1_174.png" style="width:600px">
        </div>
    </div>

    <!-- Introducing the Toolbox -->
    <div class="toolbox-container">
        <div class="title">Our Features</div>
        <div class="headline-small" style="color: white;">Introducing the Toolbox</div>
        <div class="subtitle">With more than 10+ tools, you can help AI learn proficiently<br>
            and train them to use in serving language problems. </div>
        <div class="container">
            <div class="left-arrow"></div>
            <div class="tool">
                <div class="name">Categorize Paragraph</div>
                <div class="description">Classify paragraphs into different categories or topics. Useful for writers,
                    researchers, and anyone who needs to work with large amounts of text.</div>
                <img src="static/images/feature 1.png" width="240px">
                <a class="link" href="#">TRY OUT</a>
            </div>
            <div class="tool">
                <div class="name">Questions & Answers</div>
                <div class="description">Presented with a question and a corresponding answer, users must determine
                    whether the answer is true or false based on their understanding..</div>
                <img src="static/images/feature 1.png" width="240px">
                <a class="link" href="#">TRY OUT</a>
            </div>
            <div class="tool">
                <div class="name">Translation</div>
                <div class="description">Raw data are given to users and are required to be translated to a
                    pre-determined or a language they want the AI to train..</div>
                <img src="static/images/feature 1.png" width="240px">
                <a class="link" href="#">TRY OUT</a>
            </div>
            <div class="right-arrow"></div>
        </div>
    </div>

    <!-- Use Cases -->
    <div class="usecase-container">
        <div class="title">Used By 20,000+ People For Study Cases</div>
        <div class="group">
            <div class="company"><img src="static/images/v11_42.png" width="240px"></div>
            <div class="company"><img src="static/images/v14_705.png" width="240px"></div>
            <div class="company"><img src="static/images/v14_683.png" width="240px"></div>
            <div class="company"><img src="static/images/v15_39.png" width="240px"></div>
        </div>

        <div class="group">
            <div class="company"><img src="static/images/v14_711.png" width="240px"></div>
            <div class="company"><img src="static/images/v14_707.png" width="240px"></div>
            <div class="company"><img src="static/images/v15_41.png" width="240px"></div>
            <div class="company"><img src="static/images/v15_43.png" width="240px"></div>
        </div>
    </div>

    <!-- Why Choose Us -->
    <div class="choose-us-container">
        <div class="headline-container">
            <div class="title">Why Choose Us?</div>
            <div class="headline-small">Become a Volunteer for the Future AI</div>
            <div class="subtitle">Help AI learns data labeling by providing samples of correct correlation between raw
                data and translated data.</div>
            <button class="button">See How It Works</button>
        </div>
        <div>
            <img src="static/images/v1_174.png" style="width:500px">
        </div>
    </div>

    <!-- What Do We Have -->
    <div class="we-have-container">
        <div class="criteria-container">
            <div class="criteria-box">
                <div class="icon size64px primary" id="search"></div>
                <div class="flavor-text">
                    <div class="name">Manage Projects</div>
                    <div class="description">Plan a project with preset topics for AI training specifically.</div>
                </div>
            </div>
            <div class="criteria-box">
                <div class="icon size64px" id="search"></div>
                <div class="flavor-text">
                    <div class="name">Community Growth</div>
                    <div class="description">Invite your companions or friends to help improve AI in learning.</div>
                </div>
            </div>
            <div class="criteria-box">
                <div class="icon size64px" id="search"></div>
                <div class="flavor-text">
                    <div class="name">In-Depth Analysis</div>
                    <div class="description">Mention the variety of data analysis you offer, from basic to in-depth
                        levels.</div>
                </div>
            </div>
            <div class="criteria-box">
                <div class="icon size64px" id="search"></div>
                <div class="flavor-text">
                    <div class="name">Import/Export Data</div>
                    <div class="description">Computer learning is faster with data from external sources.</div>
                </div>
            </div>
            <div class="criteria-box">
                <div class="icon size64px" id="search"></div>
                <div class="flavor-text">
                    <div class="name">Revise Dataset</div>
                    <div class="description">Higher privilege users can revise labeled data in case of incorrectness.
                    </div>
                </div>
            </div>
            <div class="criteria-box">
                <div class="icon size64px" id="search"></div>
                <div class="flavor-text">
                    <div class="name">Distributed Labeling</div>
                    <div class="description">Members in project can be distributed into different tasks.</div>
                </div>
            </div>
        </div>
        <div class="headline-container">
            <div class="title">What Do We Have?</div>
            <div class="headline-small">Handful of Quality & Efficient Ways of Training</div>
            <div class="subtitle">With LingoLab you are able to easily find your way to help AI learn without further
                help.</div>
        </div>
    </div>

    <!-- Your Data Your Future -->
    <div class="your-future-container">
        <div class="headline" style="width: 100%; text-align:center;">Your Data. Your Future</div>
        <div class="video-player">
            <div class="icon size64px" id="search"></div>
        </div>
    </div>

    <!-- Customer Reviews -->
    <div class="customer-reviews">
        <div class="headline" style="width: 100%; text-align:center;">Trusted By Many Customers</div>
        <div class="navigator">
            <div class="icon size64px primary" id="search"></div>
            <div class="num">1/6</div>
            <div class="icon size64px primary" id="search"></div>
        </div>
        <div class="review-container">
            <div class="review">
                <div class="open-bracket">“</div>
                <div class="content">A game-changer for language learners. The platform is easy to use, and the variety
                    of exercises keeps
                    me engaged and motivated. I appreciate how the program adapts to my skill level and focuses on the
                    areas
                    I need the most practice in.</div>
                <div class="close-bracket">”</div>

                <div class="customer">- Daniel Churchill, Chief Executive Officer</div>
            </div>
            <div class="customer-image">
                <img src="static/images/v15_190.png" width="200px">
            </div>
        </div>
    </div>

    <!-- Our Team -->
    <div class="our-team">
        <div class="headline-small">Our Team</div>
        <div class="subtitle">LingoLab was founded by professionals from the Information Systems departure</div>
        <div class="team">
            <div class="member">
                <div class="img-container"><img src="static/images/v5_84.png"></div>
                <div class="name">Le Bao Chan Phat</div>
                <div class="career">Founder, Lead UI Designer</div>
            </div>
            <div class="member">
                <div class="img-container"><img src="static/images/v17_421.png"></div>
                <div class="name">Nguyen Huu Khoi</div>
                <div class="career">Co-Founder, Senior Backend</div>
            </div>
            <div class="member">
                <div class="img-container"><img src="static/images/v17_425.png"></div>
                <div class="name">Le Truc Ngan</div>
                <div class="career">Co-Founder, BI Engineer</div>
            </div>
            <div class="member">
                <div class="img-container"><img src="static/images/v17_429.png"></div>
                <div class="name">Pham Son Tung</div>
                <div class="career">Co-Founder, DBA Master</div>
            </div>
        </div>
        <div style="display: flex; justify-content: center; width: 100%;"><button class="button">Contact Us</button>
        </div>
    </div>

    <!-- Other Platforms -->
    <div class="other-platforms">
        <div class="flavor-text">
            <div class="headline-small">Find Us On Other Platforms</div>
            <div class="subtitle">Something...</div>
        </div>
        <div class="img-container">
            <img src="static/images/feature 1.png">
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="newsletter">
            <div class="prompt-text">
                <div style="font-size: 28px; font-weight: bold;">Join Our Newsletter</div>
                <div style="color: var(--text-light-white);">We’ll keep you informed about new updates and upcoming
                    features.</div>
            </div>
            <div class="subscribe">
                <input type="text" placeholder="Enter Your Email">
                <button class="button">Subscribe</button>
            </div>
        </div>

        <div class="container">
            <div class="group">Lingo</div>
            <div class="group">
                <div class="category">Features</div>
                <div class="links">
                    <a href="#">Guides</a>
                    <a href="#">Categorization</a>
                    <a href="#">Questions & Answers</a>
                    <a href="#">Translation</a>
                    <a href="#">Equivalency</a>
                </div>
            </div>
            <div class="group">
                <div class="category">Support</div>
                <div class="links">
                    <a href="#">Help & FAQs</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>
            <div class="group">
                <div class="category">Our Team</div>
                <div class="links">
                    <a href="#">About Us</a>
                    <a href="#">Developer Blogs</a>
                    <a href="#">Projects</a>
                    <a href="#">Milestones</a>
                </div>
            </div>
            <div class="group">
                <div class="category">Legal</div>
                <div class="links">
                    <a href="#">Terms & Conditions</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Cookie Preferences</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="copyright">@ 2023 LingoTeam. All rights reserved.</div>
            <div class="social">
                <img src="static/icons/check.svg" width="48px">
                <img src="static/icons/check.svg" width="48px">
                <img src="static/icons/check.svg" width="48px">
                <img src="static/icons/check.svg" width="48px">
            </div>
        </div>
    </div>
</body>

</html>