<!DOCTYPE html>

<html>

<head>
    <link href="{{STATIC_URL}}css/components/label.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/button.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/format.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/search-bar.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/table.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/pagination.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/dataset.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/comment.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/editor.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/select.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/project.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/task.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/icon.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/root.css" rel="stylesheet" />
    <title>Dashboard | LingoLab</title>
</head>

<body>
    <div class="header">
        <div style="display: flex; align-items: center; gap: 24px">
            <a href="{% url 'dashboard'%}" style="border: 1px solid white; border-radius: 99px;">
                <div class="icon white" id="arrow-left"></div>
            </a>
            <div class="logo">LingoLab</div>
        </div>
        <div class="functions">
            <div class="icon white" id="globe"></div>
            <div class="icon white" id="bell"></div>
            <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
        </div>
    </div>
    <div class="project-header">
        <div class="first-row">
            <div class="name">
                <div class="color"></div>New Project
            </div>
            <div class="features">
                <div class="icon size40px" id="search"></div>
                <select name="label">
                    <option>Private</option>
                    <option>Protected</option>
                    <option>Public</option>
                </select>
                <div class="icon size40px" id="more-horizontal"></div>
            </div>
        </div>
        <div class="second-row">
            <div class="tabber">
                <a class="tab" id="inactive" href="{% url 'project' %}">Main</a>
                <a class="tab" id="inactive" href="{% url 'members' %}">Members</a>
                <a class="tab" id="inactive" href="{% url 'labels' %}">Labels</a>
                <a class="tab" id="active" href="{% url 'tasks' %}">Tasks</a>
                <a class="tab" id="inactive" href="{% url 'contribution' %}">Contribution</a>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div style="padding: 16px 100px; width: 100%; box-sizing: border-box;">
        <div class=""
            style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 100%; padding: 16px 0px;">
            <div class="task-header">
                <div class="icon size40px" id="dataset"></div>
                <div class="info">
                    <div>{{ dataset_id }}</div>
                </div>
                <div class="file" style="margin-left: 24px">
                    <span>from</span>
                    <a href="#" style="text-decoration: none; color: var(--text-light);">rawdata.txt</a>
                </div>
            </div>
        </div>
        <form action="{% url 'equivalency_edit' dataset_id %}" method="post">
            <input type="hidden" name="dataset1" id="dataset1" value="{{ dataset1 }}">
            <input type="hidden" name="dataset2" id="dataset2" value="{{ dataset2 }}">
        </form>
        <h1>Are these two datasets equivalent?</h1>
        <select class="select-box" name="label">
            <option>Unknown</option>
            <option>Equivalent</option>
            <option>Not Equivalent</option>
        </select>
        <hr>

        <div style="display: flex; flex-direction: row; gap: 16px;">
            <div class="dataset-content" style="width: 100%;" name="datapiece1">
                {{ dataset1 }}
            </div>
            <div class="dataset-content" style="width: 100%;" name="datapiece2">
                {{ dataset2 }}
            </div>
        </div>
    <textarea placeholder="Describe reasons for your change" id="change"></textarea>
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
            <input type="checkbox" id="revise">
            <label for="revise">Pending revise/review</label>
        </div>
        <div style="display: flex; gap: 16px;">
            <a href="{% url 'dataset_equivalency' %}" style="text-decoration: none;"><button class="button-small" id="ghost">Cancel</button></a>
            <button class="button-small" type="submit">Save</button>
        </div>
    </div>

    <div class="footer">
        <hr>
        <div class="info">
            <div>@ 2023 LingoTeam. All rights reserved.</div>
            <div class="links">
                <a href="#">Support</a>
                <a href="#">Privacy</a>
                <a href="#">Contact Us</a>
                <a href="#">About</a>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script src="{{STATIC_URL}}js/collapsible.js"></script>
    <script src="{{STATIC_URL}}js/upload.js"></script>
    <script src="{{STATIC_URL}}js/editor.js"></script>
</body>

</html>