<!DOCTYPE html>

<html>

<head>
    <link href="{{STATIC_URL}}css/components/label.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/button.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/format.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/search-bar.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/table.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/pagination.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/dataset.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/comment.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/editor.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/select.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/project.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/task.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/icon.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/root.css" rel="stylesheet" />
    <title>Dashboard | LingoLab</title>
</head>

<body>
    <div class="header">
        <div style="display: flex; align-items: center; gap: 24px">
            <a href="{% url 'dashboard'%}" style="border: 1px solid white; border-radius: 99px;">
                <div class="icon white" id="arrow-left"></div>
            </a>
            <div class="logo">LingoLab</div>
        </div>
        <div class="functions">
            <div class="icon white" id="globe"></div>
            <div class="icon white" id="bell"></div>
            <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
        </div>
    </div>
    <div class="project-header">
        <div class="first-row">
            <div class="name">
                <div class="color"></div>New Project
            </div>
            <div class="features">
                <div class="icon size40px" id="search"></div>
                <select>
                    <option>Private</option>
                    <option>Protected</option>
                    <option>Public</option>
                </select>
                <div class="icon size40px" id="more-horizontal"></div>
            </div>
        </div>
        <div class="second-row">
            <div class="tabber">
                <a class="tab" id="inactive" href="{% url 'project' %}">Main</a>
                <a class="tab" id="inactive" href="{% url 'members' %}">Members</a>
                <a class="tab" id="inactive" href="{% url 'labels' %}">Labels</a>
                <a class="tab" id="active" href="{% url 'tasks' %}">Tasks</a>
                <a class="tab" id="inactive" href="{% url 'contribution' %}">Contribution</a>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div style="padding: 16px 100px; width: 100%; box-sizing: border-box;">
        <div class=""
            style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 100%; padding: 16px 0px;">
            <div class="task-header">
                <div class="icon size40px" id="dataset"></div>
                <div class="info">
                    <div>DT#1240-2041</div>
                </div>
                <div class="file" style="margin-left: 24px">
                    <span>from</span>
                    <a href="#" style="text-decoration: none; color: var(--text-light);">rawdata.txt</a>
                </div>
            </div>
        </div>
        <form id="fm-labeling-translate" action="{% url 'labeling_translate' %}" method="POST">{% csrf_token %}</form>
        <div style="display: flex; flex-direction: column; gap: 0px; width: 100%;">
            <h1>Requirement</h1>
            <!-- <textarea id="change" style="cursor: no-drop" disabled>Translate this given text into Korean</textarea> -->
            <textarea id="change" style="cursor: no-drop" disabled form="fm-labeling-translate">Translate this given text into {{ requirement }}</textarea>
            <input type="hidden" value="{{requirement}}" id="labeling-requirement" name="labeling-requirement" form="fm-labeling-translate">
        </div>
        <h1>Given Dataset</h1>
        <div class="dataset-content"
            style="width: 100%; padding: 16px; border: 1px solid var(--neutral-dark); background-color: var(--neutral-white); color: var(--neutral-dark); border-radius: 8px; box-sizing: border-box;">
                <span style="font-family: Consolas" form="fm-labeling-translate">{{ content }}</span>
                <input id="labeling-content" name="labeling-content" type="hidden" form="fm-labeling-translate" value="{{content}}">
        </div>
        <h1>Your input here</h1>
        <div class="editor-container" style="border-radius: 8px; margin-bottom: 16px;">
            <div id="editor">
                <textarea style="border-radius: 8px;"
                    id="editor-textarea" form="fm-labeling-translate" name="editor-textarea"></textarea>
                <div id="listText" style="border-radius: 8px;"></div>
                <input type="hidden" value="{{task_id}}" id="labeling-translate-taskid" name="labeling-translate-taskid" form="fm-labeling-translate">
            </div>
        </div>

        <hr>
        <textarea placeholder="Describe your change" id="change"></textarea>
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <div style="display: flex; align-items: center;">
                <input type="checkbox" id="revise">
                <label for="revise">Pending revise/review</label>
            </div>
            <div style="display: flex; gap: 16px;">
                <a href="{% url 'dataset_translation' %}" style="text-decoration: none;"><button class="button-small"
                        id="ghost">Cancel</button></a>
                <button class="button-small" type="submit" form="fm-labeling-translate">Save</button>
            </div>
        </div>

        <div class="footer">
            <hr>
            <div class="info">
                <div>@ 2023 LingoTeam. All rights reserved.</div>
                <div class="links">
                    <a href="#">Support</a>
                    <a href="#">Privacy</a>
                    <a href="#">Contact Us</a>
                    <a href="#">About</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript">
        document.getElementById("fm-labeling-translate").addEventListener("submit", function(event) {
        event.preventDefault(); 
        var formData = new FormData(this);
        fetch(this.action, {
        method: "POST",
        body: formData
        })
        .then(function(response) {
            if (!response.ok) {
            throw new Error("Lỗi: " + response.status);
            }
            return response.json();
        })
        .then(function(data) {
        alert(data.message);
        })
        .catch(function(error) {
        console.error("Lỗi:", error);
        });
        });
    </script>
    <script src="{{STATIC_URL}}js/collapsible.js"></script>
    <script src="{{STATIC_URL}}js/upload.js"></script>
    <script src="{{STATIC_URL}}js/editor.js"></script>
</body>

</html>