<!DOCTYPE html>

<html>

<head>
    <link href="{{STATIC_URL}}css/dashboard.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/label.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/button.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/format.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/search-bar.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/table.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/popup.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/radio.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/pagination.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/toast.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/project.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/icon.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/root.css" rel="stylesheet" />
    <title>Dashboard | LingoLab</title>
</head>

<body>
    <div class="header">
        <div style="display: flex; align-items: center; gap: 24px">
            <a href="{% url 'dashboard' %}" style="border: 1px solid white; border-radius: 99px;">
                <div class="icon white" id="arrow-left"></div>
            </a>
            <div class="logo">LingoLab</div>
        </div>
        <div class="functions">
            <div class="icon white" id="check"></div>
            <div class="icon white" id="check"></div>
            <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
        </div>
    </div>
    <div class="project-header">
        <div class="first-row">
            <div class="name">
                <div class="color"></div>New Project
            </div>
            <div class="features">
                <div class="icon size40px" id="search"></div>
                <select>
                    <option>Private</option>
                    <option>Protected</option>
                    <option>Public</option>
                </select>
                <div class="icon size40px" id="more-horizontal"></div>
            </div>
        </div>
        <div class="second-row">
            <div class="tabber">
                <a class="tab" id="inactive" href="{% url 'project' %}">Main</a>
                <a class="tab" id="inactive" href="{% url 'members' %}">Members</a>
                <a class="tab" id="active" href="{% url 'labels' %}">Labels</a>
                <a class="tab" id="inactive" href="{% url 'tasks' %}">Tasks</a>
                <a class="tab" id="inactive" href="{% url 'contribution' %}">Contribution</a>
            </div>
        </div>
    </div>
    <div class="project-content">
        
        <div class="right-section" style="width:75%;">
            <div class="theader">
                <div style="display: flex; gap: 12px; align-items: center;">
                    <h1>Labels</h1>
                    <div class="num">129</div>
                </div>
                <div style="display: flex; flex-direction: row; align-items: center; gap: 8px">
                    <div style="display: flex; flex-direction: row; gap: 16px">
                        <div>Results per page: </div>
                        <select>
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                        </select>
                    </div>
                    <div style="height: 20px; border-right: 2px solid var(--neutral-light-gray);"></div>
                    <button class="icon">
                        <div class="icon" id="sort"></div>
                    </button>
                    <button class="icon">
                        <div class="icon" id="filter"></div>
                    </button>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; width: 100%; gap: 16px; align-items: center;">
                <div class="search-bar" id="small" style="width: 100%;">
                    <input placeholder="Search" type="text">
                    <div class="icon" id="search"></div>
                </div>
                <button class="button-small" id="popupButton">New Label</button>
            </div>
            <div class="result-amount">Showing 1 to 10 of total 200 rows</div>
            <!-- Paragraph Table -->
            <div id="table-paragraph">
                <table>
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for label in labels %}
                        <tr>
                            <td>
                                <div class="label paragraph">{{ label.labelname }}</div>
                            </td>
                            <td>{{ label.description }}</td>
                            <td>
                                <button class="action" id="edit">Edit</button>
                                <button class="action" id="delete">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination">
                    <div class="list-pages">
                        <button>
                            <div class="icon" id="first"></div>
                        </button>
                        <button>
                            <div class="icon" id="previous"></div>
                        </button>
                        <button class="page" id="active">1</button>
                        <button class="page" id="inactive">2</button>
                        <button class="page" id="inactive">3</button>
                        <button class="page" id="inactive">4</button>
                        <button>
                            <div class="icon" id="next"></div>
                        </button>
                        <button>
                            <div class="icon" id="last"></div>
                        </button>
                    </div>
                    <div class="custom-page">
                        <div>Go to page:</div>
                        <input type="text" value="2">
                        <button class="icon-primary" style="width: 32px; height: 32px; padding: 0px">
                            <div class="icon white" id="arrow-right"></div>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Entity Table -->
            <div id="table-entity">
                <table>
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="label entity">love</div>
                            </td>
                            <td>Description for label 1</td>
                            <td><button class="action" id="edit">Edit</button><button class="action"
                                    id="delete">Delete</button></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="label entity">affection</div>
                            </td>
                            <td>Description for label 1</td>
                            <td><button class="action" id="edit">Edit</button><button class="action"
                                    id="delete">Delete</button></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="label entity">intimacy</div>
                            </td>
                            <td>Description for label 1</td>
                            <td><button class="action" id="edit">Edit</button><button class="action"
                                    id="delete">Delete</button></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="label entity">first sight</div>
                            </td>
                            <td>Description for label 1</td>
                            <td><button class="action" id="edit">Edit</button><button class="action"
                                    id="delete">Delete</button></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="label entity">relationship</div>
                            </td>
                            <td>Description for label 1</td>
                            <td><button class="action" id="edit">Edit</button><button class="action"
                                    id="delete">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination">
                    <div class="list-pages">
                        <button>
                            <div class="icon" id="first"></div>
                        </button>
                        <button>
                            <div class="icon" id="previous"></div>
                        </button>
                        <button class="page" id="active">1</button>
                        <button class="page" id="inactive">2</button>
                        <button class="page" id="inactive">3</button>
                        <button class="page" id="inactive">4</button>
                        <button>
                            <div class="icon" id="next"></div>
                        </button>
                        <button>
                            <div class="icon" id="last"></div>
                        </button>
                    </div>
                    <div class="custom-page">
                        <div>Go to page:</div>
                        <input type="text" value="2">
                        <button class="icon-primary" style="width: 32px; height: 32px; padding: 0px">
                            <div class="icon white" id="arrow-right"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popup" style="width: 40%;">
        <div class="pheader">
            <div class="title">Create a new label</div>
            <button id="closeButton">
                <div class="icon size48px" id="close"></div>
            </button>
        </div>
        <hr>
        <form id="fm-create-label" method="POST" action="{% url 'create_label' %}">{% csrf_token %}</form>
        <div style="display: flex; flex-direction: column; width: 100%; margin-top: 16px;">
            <label>Name</label>
            <input name="label-name" class="input-field" type="text" placeholder="e.g. animals, medium" form="fm-create-label">

            <label>Description</label>
            <input name="label-description" class="input-field" type="text" style="height: 60px;" form="fm-create-label">

            <label>Color</label>
            <div>
                <input name="label-color" type="radio" class="color-btn" form="fm-create-label" value="red"><button type="button" class="color"></button>
                <input name="label-color" type="radio" class="color-btn" form="fm-create-label" value="green"><button type="button" class="color"></button>
                <input name="label-color" type="radio" class="color-btn" form="fm-create-label" value="blue"><button type="button" class="color"></button>
                <input name="label-color" type="radio" class="color-btn" form="fm-create-label" value="yellow"><button type="button" class="color"></button>
            </div>
        </div>
        <div class="action-buttons">
            <button class="button" id="ghost">Cancel</button>
            <button class="button" form="fm-create-label" type="submit" id="submitButton" onclick="showToast()">Done</button>
        </div>
    </div>

    <div id="toast" class="slide-in">
        <span>Label "NAMEHERE" has been created.</span>
        <button id="undoButton">Undo</button>
        <button id="closeButtonPopup"><div class="icon size24px" id="close"></div></button>
      </div>      

    </div>
    <div class="footer">
        <hr>
        <div class="info">
            <div>@ 2023 LingoTeam. All rights reserved.</div>
            <div class="links">
                <a href="#">Support</a>
                <a href="#">Privacy</a>
                <a href="#">Contact Us</a>
                <a href="#">About</a>
            </div>
        </div>
    </div>
    </div>
    </div>

    <style>
        /* Add CSS styles for fading transition */
        .fade-transition {
            transition: opacity 0.3s ease-in-out;
        }

        .fade-transition.hidden {
            opacity: 0;
            display: none;
        }

        .fade-transition.visible {
            opacity: 1;
            display: block;
        }
    </style>

    <script src="{{STATIC_URL}}js/collapsible.js"></script>
    <script src="{{STATIC_URL}}js/upload.js"></script>
    <script src="{{STATIC_URL}}js/popup.js"></script>
    <script src="{{STATIC_URL}}js/toast.js"></script>
    <script>
        // Get references to the tab buttons and content divs
        const paragraphTab = document.getElementById('paragraph-tab');
        const entityTab = document.getElementById('entity-tab');
        const tableParagraph = document.getElementById('table-paragraph');
        const tableEntity = document.getElementById('table-entity');

        // Add event listener to paragraphTab button
        paragraphTab.addEventListener('click', function () {
            // Add 'active' class to paragraphTab and remove it from entityTab
            paragraphTab.classList.add('active');
            entityTab.classList.remove('active');

            // Show tableParagraph content with fading transition and hide tableEntity content
            tableParagraph.classList.add('fade-transition', 'visible');
            tableParagraph.classList.remove('hidden');
            tableEntity.classList.add('fade-transition', 'hidden');
            tableEntity.classList.remove('visible');
        });

        // Add event listener to entityTab button
        entityTab.addEventListener('click', function () {
            // Add 'active' class to entityTab and remove it from paragraphTab
            entityTab.classList.add('active');
            paragraphTab.classList.remove('active');

            // Show tableEntity content with fading transition and hide tableParagraph content
            tableEntity.classList.add('fade-transition', 'visible');
            tableEntity.classList.remove('hidden');
            tableParagraph.classList.add('fade-transition', 'hidden');
            tableParagraph.classList.remove('visible');
        });

        paragraphTab.click()
    </script>
    <script type="text/javascript">
        document.getElementById("fm-create-label").addEventListener("submit", function(event) {
            event.preventDefault(); // Ngăn chặn gửi form
            var formData = new FormData(this);

            fetch(this.action, {
            method: "POST",
            body: formData
            })
            .then(function(response) {
                if (!response.ok) {
                throw new Error("Lỗi: " + response.status);
                }
                return response.json();
            })
            .then(function(data) {
            alert(data.message);
            })
            .catch(function(error) {
            // console.error("Lỗi:", error);
            });
        });
    </script>
</body>

</html>