<!DOCTYPE html>

<html>

<head>
    <link href="/css/project.css" rel="stylesheet" />
    <link href="/css/components/button.css" rel="stylesheet" />
    <link href="/css/components/format.css" rel="stylesheet" />
    <link href="/css/icon.css" rel="stylesheet" />
    <link href="/css/root.css" rel="stylesheet" />
    <title>Dashboard | LingoLab</title>
</head>

<body>
    <div class="header">
        <div style="display: flex; align-items: center; gap: 24px">
            <a href="/pages/dashboard.html" style="border: 1px solid white; border-radius: 99px;">
                <div class="icon white" id="arrow-left"></div>
            </a>
            <div class="logo">LingoLab</div>
        </div>
        <div class="functions">
            <div class="icon white" id="check"></div>
            <div class="icon white" id="check"></div>
            <div class="avatar"><img src="/images/sample avatar.png"></div>
        </div>
    </div>
    <div class="project-header">
        <div class="first-row">
            <div class="name">
                <div class="color"></div>New Project
            </div>
            <div class="features">
                <div class="icon size40px" id="search"></div>
                <select>
                    <option>Private</option>
                    <option>Protected</option>
                    <option>Public</option>
                </select>
                <div class="icon size40px" id="more-horizontal"></div>
            </div>
        </div>
        <div class="second-row">
            <div class="tabber">
                <a class="tab" id="active" href="#">Main</a>
                <a class="tab" id="inactive" href="members.html">Members</a>
                <a class="tab" id="inactive" href="labels.html">Labels</a>
                <a class="tab" id="inactive" href="tasks.html">Tasks</a>
                <a class="tab" id="inactive" href="contribution.html">Contribution</a>
            </div>
        </div>
    </div>
    <div class="project-content">
        <div class="left-section">
            <h1>Information</h1>
            <div class="project-info">
                <div class="label">Created by</div>
                <div class="content">
                    <div class="avatar"><img src="/images/sample avatar.png" style="width: 32px"></div>
                    <div class="username">LBC Phat</div>
                    <div class="date">on October 24th, 2012</div>
                </div>
            </div>
            <div class="project-info">
                <div class="label">Tags</div>
                <div class="tag">descriptive</div>
                <div class="tag">sport</div>
            </div>
            <div class="project-info">
                <div class="label">Visibility</div>
                <div>Private</div>
            </div>
            <div class="spacing"></div>
            <h1>Description</h1>
            <div class="description">
                <div class="paragraph">
                    The goal of this project is to label a dataset of unstructured text data using
                    natural language processing (NLP) techniques. The dataset may include social media posts, news
                    articles,
                    reviews, or any other type of text data. The labels may include sentiment, topic, intent, or any
                    other
                    relevant classification.
                </div>
                <div class="paragraph">
                    The project involves building an annotation tool that enables human annotators to label the dataset,
                    and
                    developing machine learning models that can learn from the labeled data to perform automatic
                    labeling on
                    new, unseen data.
                </div>
                <div class="paragraph">
                    The project will involve using NLP libraries and tools, designing and implementing the annotation
                    tool,
                    and evaluating the performance of the machine learning models. The resulting labeled dataset can be
                    used
                    for various downstream applications, such as training chatbots, sentiment analysis, or topic
                    modeling.
                </div>
            </div>
            <div class="spacing"></div>
            <h1>Activity</h1>
            <div class="activity-container">
                <h2>April 20th, 2023</h2>
                <div class="activity">
                    <div class="icon" id="search"></div>
                    <div class="time">8:45</div>
                    <div class="instance">You invited pstung, nhkhoi, ltngan to Novelty Accuracy as a
                        contributor.</div>
                </div>
                <div class="activity">
                    <div class="icon" id="search"></div>
                    <div class="time">8:45</div>
                    <div class="instance">You invited pstung, nhkhoi, ltngan to Novelty Accuracy as a
                        contributor.</div>
                </div>
                <div class="activity">
                    <div class="icon" id="search"></div>
                    <div class="time">8:45</div>
                    <div class="instance">You invited pstung, nhkhoi, ltngan to Novelty Accuracy as a
                        contributor.</div>
                </div>

                <h2>April 19th, 2023</h2>
                <div class="activity">
                    <div class="icon" id="search"></div>
                    <div class="time">8:45</div>
                    <div class="instance">You invited pstung, nhkhoi, ltngan to Novelty Accuracy as a
                        contributor.</div>
                </div>
                <div class="activity">
                    <div class="icon" id="search"></div>
                    <div class="time">8:45</div>
                    <div class="instance">You invited pstung, nhkhoi, ltngan to Novelty Accuracy as a
                        contributor.</div>
                </div>
                <div class="activity">
                    <div class="icon" id="search"></div>
                    <div class="time">8:45</div>
                    <div class="instance">You invited pstung, nhkhoi, ltngan to Novelty Accuracy as a
                        contributor.</div>
                </div>
            </div>
        </div>
        <div class="right-section">
            <div class="progress">
                <div>50% Completed</div>
                <div class="bar">
                    <div style="background-color: var(--primary); width: 50%; border-radius: 99px"></div>
                </div>
                <div class="participants">
                    <div class="avatar"><img src="/images/sample avatar.png"></div>
                    <div class="avatar"><img src="/images/sample avatar.png"></div>
                    <div class="avatar"><img src="/images/sample avatar.png"></div>
                    <div class="avatar"><img src="/images/sample avatar.png"></div>
                </div>
            </div>
            <div class="spacing"></div>
            <div class="theader">
                <div style="display: flex; gap: 12px; align-items: center;">
                    <h1>Imported Files</h1>
                    <div class="num">129</div>
                </div>
                <a href="#">See All</a>
            </div>
            <label for="fileInput" id="uploadBox">
                <div class="icon light size48px" id="upload"></div>
                <div>Drag or click here to upload a file</div>
            </label>
            <input type="file" id="fileInput">
            <div id="uploadStatus"></div>
            <div class="file-collection">
                <div class="file-container">
                    <div class="info-container">
                        <div class="file-icon">
                            <div class="icon light size48px" id="search"></div>
                        </div>
                        <div class="info">
                            <div>rawdata.txt</div>
                            <div>12 Jan, 2023 - 09:30</div>
                        </div>
                    </div>
                    <div class="size">24.5 KB</div>
                </div>
                <div class="file-container">
                    <div class="info-container">
                        <div class="file-icon">
                            <div class="icon light size48px" id="search"></div>
                        </div>
                        <div class="info">
                            <div>rawdata.txt</div>
                            <div>12 Jan, 2023 - 09:30</div>
                        </div>
                    </div>
                    <div class="size">24.5 KB</div>
                </div>
                <div class="file-container">
                    <div class="info-container">
                        <div class="file-icon">
                            <div class="icon light size48px" id="search"></div>
                        </div>
                        <div class="info">
                            <div>rawdata.txt</div>
                            <div>12 Jan, 2023 - 09:30</div>
                        </div>
                    </div>
                    <div class="size">24.5 KB</div>
                </div>
            </div>
            <div class="theader">
                <div style="display: flex; gap: 12px; align-items: center;">
                    <h1>Upcoming Deadlines</h1>
                </div>
                <a href="#">See All</a>
            </div>
            <div class="deadline-container">
                <div class="deadline">
                    <div class="icon" id="search"></div>
                    <div>
                        Task <a href="#" class="task">Label Animal Species</a> needs to be done before 07:24.
                    </div>
                </div>
                <div class="deadline">
                    <div class="icon" id="search"></div>
                    <div>
                        Task <a href="#" class="task">Label Animal Species</a> needs to be done before 07:24.
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="footer">
        <hr>
        <div class="info">
            <div>@ 2023 LingoTeam. All rights reserved.</div>
            <div class="links">
                <a href="#">Support</a>
                <a href="#">Privacy</a>
                <a href="#">Contact Us</a>
                <a href="#">About</a>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script src="/js/collapsible.js"></script>
    <script src="/js/upload.js"></script>
</body>

</html>