<!DOCTYPE html>

<html>

<head>
    <link href="{{STATIC_URL}}css/project.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/button.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/format.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/icon.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/root.css" rel="stylesheet" />
    <title>Dashboard | LingoLab</title>
</head>

<body>
    <div class="header">
        <div style="display: flex; align-items: center; gap: 24px">
            <a href="{% url 'dashboard'%}" style="border: 1px solid white; border-radius: 99px;">
                <div class="icon white" id="arrow-left"></div>
            </a>
            <div class="logo">LingoLab</div>
        </div>
        <div class="functions">
            <div class="icon white" id="check"></div>
            <div class="icon white" id="check"></div>
            <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
        </div>
    </div>
    <div class="project-header">
        <div class="first-row">
            <div class="name">
                <div class="color"></div>
                {{ project.projectname }}
            </div>
            <div class="features">
                <div class="icon size40px" id="search"></div>
                <select>
                    <option>Private</option>
                    <option>Protected</option>
                    <option>Public</option>
                </select>
                <div class="icon size40px" id="more-horizontal"></div>
            </div>
        </div>
        <div class="second-row">
            <div class="tabber">
                <a class="tab" id="active" href="#">Main</a>
                <a class="tab" id="inactive" href="{% url 'members' %}">Members</a>
                <a class="tab" id="inactive" href="{% url 'labels' %}">Labels</a>
                <a class="tab" id="inactive" href="{% url 'tasks' %}">Tasks</a>
                <a class="tab" id="inactive" href="{% url 'contribution' %}">Contribution</a>
            </div>
        </div>
    </div>
    <div class="project-content">
        <div class="left-section">
            <h1>Information</h1>
            <div class="project-info">
                <div class="label">Created by</div>
                <div class="content">
                    <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png" style="width: 32px"></div>
                    <a class="contributor" href="#">LBC Phat</a>
                    <div class="date">on October 24th, 2012</div>
                </div>
            </div>
            <div class="project-info">
                <div class="label">Tags</div>
                {% for tag in project.tags %}
                    <div class="tag">{{ tag }}</div>
                {% endfor %}
            </div>
            <div class="project-info">
                <div class="label">Visibility</div>
                <div>{{ project.visibility }}</div>
            </div>
            <div class="spacing"></div>
            <h1>Description</h1>
            <div class="description">
                {{ project.description }}
            </div>
            <div class="spacing"></div>
            <h1>Activity</h1>
            <div class="activity-container">
                <h2>April 20th, 2023</h2>
                <div class="activity">
                    <div class="icon" id="search"></div>
                    <div class="time">8:45</div>
                    <div class="instance">You invited pstung, nhkhoi, ltngan to Novelty Accuracy as a
                        contributor.</div>
                </div>
                <div class="activity">
                    <div class="icon" id="search"></div>
                    <div class="time">8:45</div>
                    <div class="instance">You invited pstung, nhkhoi, ltngan to Novelty Accuracy as a
                        contributor.</div>
                </div>
                <div class="activity">
                    <div class="icon" id="search"></div>
                    <div class="time">8:45</div>
                    <div class="instance">You invited pstung, nhkhoi, ltngan to Novelty Accuracy as a
                        contributor.</div>
                </div>

                <h2>April 19th, 2023</h2>
                <div class="activity">
                    <div class="icon" id="search"></div>
                    <div class="time">8:45</div>
                    <div class="instance">You invited pstung, nhkhoi, ltngan to Novelty Accuracy as a
                        contributor.</div>
                </div>
                <div class="activity">
                    <div class="icon" id="search"></div>
                    <div class="time">8:45</div>
                    <div class="instance">You invited pstung, nhkhoi, ltngan to Novelty Accuracy as a
                        contributor.</div>
                </div>
                <div class="activity">
                    <div class="icon" id="search"></div>
                    <div class="time">8:45</div>
                    <div class="instance">You invited pstung, nhkhoi, ltngan to Novelty Accuracy as a
                        contributor.</div>
                </div>
            </div>
        </div>
        <div class="right-section">
            <div class="progress">
                <div>50% Completed</div>
                <div class="bar">
                    <div style="background-color: var(--primary); width: 50%; border-radius: 99px"></div>
                </div>
                <div class="participants">
                    <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                    <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                    <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                    <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                </div>
            </div>
            <div class="spacing"></div>
            <div class="theader">
                <div style="display: flex; gap: 12px; align-items: center;">
                    <h1>Imported Files</h1>
                    <div class="num">129</div>
                </div>
                <a href="#">See All</a>
            </div>
            <label for="fileInput" id="uploadBox">
                <div class="icon light size48px" id="upload"></div>
                <div>Drag or click here to upload a file</div>
            </label>
            <form action="{% url 'upload_dataset' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            </form>
            <input type="file" id="fileInput" name="dataset">
            <div id="uploadStatus"></div>
            <div class="file-collection">
                <div class="file-container">
                    <div class="info-container">
                        <div class="file-icon">
                            <div class="icon light size48px" id="search"></div>
                        </div>
                        <div class="info">
                            <div>rawdata.txt</div>
                            <div>12 Jan, 2023 - 09:30</div>
                        </div>
                    </div>
                    <div class="size">24.5 KB</div>
                </div>
                <div class="file-container">
                    <div class="info-container">
                        <div class="file-icon">
                            <div class="icon light size48px" id="search"></div>
                        </div>
                        <div class="info">
                            <div>rawdata.txt</div>
                            <div>12 Jan, 2023 - 09:30</div>
                        </div>
                    </div>
                    <div class="size">24.5 KB</div>
                </div>
                <div class="file-container">
                    <div class="info-container">
                        <div class="file-icon">
                            <div class="icon light size48px" id="search"></div>
                        </div>
                        <div class="info">
                            <div>rawdata.txt</div>
                            <div>12 Jan, 2023 - 09:30</div>
                        </div>
                    </div>
                    <div class="size">24.5 KB</div>
                </div>
            </div>
            <div class="theader">
                <div style="display: flex; gap: 12px; align-items: center;">
                    <h1>Upcoming Deadlines</h1>
                </div>
                <a href="#">See All</a>
            </div>
            <div class="deadline-container">
                <div class="deadline">
                    <div class="icon" id="search"></div>
                    <div>
                        Task <a href="#" class="task">Label Animal Species</a> needs to be done before 07:24.
                    </div>
                </div>
                <div class="deadline">
                    <div class="icon" id="search"></div>
                    <div>
                        Task <a href="#" class="task">Label Animal Species</a> needs to be done before 07:24.
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="footer">
        <hr>
        <div class="info">
            <div>@ 2023 LingoTeam. All rights reserved.</div>
            <div class="links">
                <a href="#">Support</a>
                <a href="#">Privacy</a>
                <a href="#">Contact Us</a>
                <a href="#">About</a>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script src="{{STATIC_URL}}js/collapsible.js"></script>
    <script src="{{STATIC_URL}}js/upload.js"></script>
</body>

</html>