<!DOCTYPE html>

<html>

<head>
    <link href="{{STATIC_URL}}css/project.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/button.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/format.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/icon.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/root.css" rel="stylesheet" />
    <title>Dashboard | LingoLab</title>
</head>

<body>
    <div class="header">
        <div style="display: flex; align-items: center; gap: 24px">
            <a href="{% url 'dashboard' %}" style="border: 1px solid white; border-radius: 99px;">
                <div class="icon white" id="arrow-left"></div>
            </a>
            <div class="logo">LingoLab</div>
        </div>
        <div class="functions">
            <div class="icon white" id="check"></div>
            <div class="icon white" id="check"></div>
            <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
        </div>
    </div>
    <div class="project-header">
        <div class="first-row">
            <div class="name">
                <div class="color"></div>New Project
            </div>
            <div class="features">
                <div class="icon size40px" id="search"></div>
                <select>
                    <option>Private</option>
                    <option>Protected</option>
                    <option>Public</option>
                </select>
                <div class="icon size40px" id="more-horizontal"></div>
            </div>
        </div>
        <div class="second-row">
            <div class="tabber">
                <a class="tab" id="inactive" href="{% url 'project' %}">Main</a>
                <a class="tab" id="active" href="{% url 'members' %}">Members</a>
                <a class="tab" id="inactive" href="{% url 'labels' %}">Labels</a>
                <a class="tab" id="inactive" href="{% url 'tasks' %}">Tasks</a>
                <a class="tab" id="inactive" href="{% url 'contribution' %}">Contribution</a>
            </div>
        </div>
    </div>
    <div class="project-content">
        <div class="left-section">
        </div>
        <div class="right-section">
        </div>
    </div>

    </div>
    <div class="footer">
        <hr>
        <div class="info">
            <div>@ 2023 LingoTeam. All rights reserved.</div>
            <div class="links">
                <a href="#">Support</a>
                <a href="#">Privacy</a>
                <a href="#">Contact Us</a>
                <a href="#">About</a>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script src="{{STATIC_URL}}js/collapsible.js"></script>
    <script src="{{STATIC_URL}}js/upload.js"></script>
</body>

</html>