<!DOCTYPE html>

<html>

<head>
    <link href="{{STATIC_URL}}css/project.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/button.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/format.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/table.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/select.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/logo.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/icon.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/root.css" rel="stylesheet" />
    <title>Dashboard | LingoLab</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>
    <div class="header">
        <div style="display: flex; align-items: center; gap: 24px">
            <a href="{% url 'dashboard' %}" style="border: 1px solid white; border-radius: 99px;">
                <div class="icon white" id="arrow-left"></div>
            </a>
            <div class="logo" id="lab-alt"></div>
        </div>
        <div class="functions">
            <div class="icon white" id="globe"></div>
            <div class="icon white" id="bell"></div>
            <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
        </div>
    </div>
    <div class="project-header">
        <div class="first-row">
            <div class="name">
                <div class="color"></div>New Project
            </div>
            <div class="features">
                <div class="icon size40px" id="search"></div>
                <select>
                    <option>Private</option>
                    <option>Protected</option>
                    <option>Public</option>
                </select>
                <div class="icon size40px" id="more-horizontal"></div>
            </div>
        </div>
        <div class="second-row">
            <div class="tabber">
                <a class="tab" id="inactive" href=" url 'project' ">Main</a>
                <a class="tab" id="active" href="{% url 'members' %}">Members</a>
                <a class="tab" id="inactive" href="{% url 'labels' %}">Labels</a>
                <a class="tab" id="inactive" href="{% url 'tasks' %}">Tasks</a>
                <a class="tab" id="inactive" href="{% url 'contribution' %}">Contribution</a>
            </div>
        </div>
    </div>
    <div class="project-content" style="gap: 120px;">
        <div class="left-section" style="width: 30%;">
            <h1>Administrators</h1>
            <div style="color: var(--text-light);">Administrator members will be the one that have full control over the
                platform, including adding and
                removing members, creating and deleting projects, and managing the workspace. </div>
            <div style="display: flex; flex-direction: row; gap: 16px; align-items: center; margin: 12px 0px;">
                <div id="num-selected-1" style="font-weight: bold;">0 Selected</div>
                <select class="select-box" style="margin: 0px;">
                    <option>(action)</option>
                    <option>Block</option>
                    <option>Delete</option>
                </select>
                <button class="button-small">Proceed</button>
            </div>
        </div>
        <div class="right-section" style="width: 70%;">
            <table style="margin: 0px" id="member-list">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="all-member-checkbox"></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Date Added</th>
                        <th>Last Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" id="member-checkbox"></td>
                        <td>
                            <div>
                                <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div><a
                                    class="contributor" href="#">LBC. Phat</a>
                            </div>
                        </td>
                        <td>example@email.com</td>
                        <td>July 23rd, 2022</td>
                        <td>June 29th, 2023</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="member-checkbox"></td>
                        <td>
                            <div>
                                <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div><a
                                    class="contributor" href="#">LBC. Phat</a>
                            </div>
                        </td>
                        <td>example@email.com</td>
                        <td>July 23rd, 2022</td>
                        <td>June 29th, 2023</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="project-content" style="gap: 120px; margin-top: 32px;">
        <div class="left-section" style="width: 30%;">
            <h1>Members</h1>
            <div style="color: var(--text-light);">Members are able to do tasks whether assigned or not assigned to.
            </div>
            <div style="display: flex; flex-direction: row; gap: 16px; align-items: center; margin: 12px 0px;">
                <div id="num-selected-2" style="font-weight: bold;">0 Selected</div>
                <select class="select-box" style="margin: 0px;">
                    <option>(action)</option>
                    <option>Block</option>
                    <option>Delete</option>
                </select>
                <button class="button-small">Proceed</button>
            </div>
        </div>
        <div class="right-section" style="width: 70%;">
            <table style="margin: 0px" id="member-list">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="all-member-checkbox"></th>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Email</th>
                        <th>Date Added</th>
                        <th>Last Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" id="member-checkbox"></td>
                        <td>
                            <div>
                                <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div><a
                                    class="contributor" href="#">LBC. Phat</a><span
                                    style="color: var(--text-light); font-weight: normal;">(You)</span>
                            </div>
                        </td>
                        <td>
                            <div class="level">Level 1</div>
                        </td>
                        <td>example@email.com</td>
                        <td>July 23rd, 2022</td>
                        <td>June 29th, 2023</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="member-checkbox"></td>
                        <td>
                            <div>
                            <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div><a
                                class="contributor" href="#">pstung</a>
                            </div>
                        </td>
                        <td>
                            <div class="level">Level 2</div>
                        </td>
                        <td>example@email.com</td>
                        <td>July 23rd, 2022</td>
                        <td>June 29th, 2023</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="member-checkbox"></td>
                        <td>
                            <div>
                            <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div><a
                                class="contributor" href="#">ltngan</a>
                            </div>
                        </td>
                        <td>
                            <div class="level">Level 2</div>
                        </td>
                        <td>example@email.com</td>
                        <td>July 23rd, 2022</td>
                        <td>June 29th, 2023</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="member-checkbox"></td>
                        <td>
                            <div>
                                <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div><a
                                    class="contributor" href="#">nhkhoi</a>
                            </div>
                        </td>
                        <td>
                            <div class="level">Level 2</div>
                        </td>
                        <td>example@email.com</td>
                        <td>July 23rd, 2022</td>
                        <td>June 29th, 2023</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="project-content" style="gap: 120px; margin-top: 32px;">
        <div class="left-section" style="width: 30%;">
            <h1>Pending Invite</h1>
            <div style="color: var(--text-light);">Members to be a part of the project.
            </div>
            <div style="display: flex; flex-direction: row; gap: 16px; align-items: center; margin: 12px 0px;">
                <div id="num-selected-3" style="font-weight: bold;">0 Selected</div>
                <select class="select-box" style="margin: 0px;">
                    <option>(action)</option>
                    <option>Resend</option>
                    <option>Revoke</option>
                </select>
                <button class="button-small">Proceed</button>
            </div>
        </div>
        <div class="right-section" style="width: 70%;">
            <table style="margin: 0px" id="member-list">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="all-member-checkbox"></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Date Sent</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" id="member-checkbox"></td>
                        <td>
                            <div>
                                <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                                <a class="contributor" href="#">nguyenthithap</a>
                            </div>
                        </td>
                        <td>example@email.com</td>
                        <td>July 23rd, 2022</td>
                        <td style="display: flex; flex-direction: row; gap: 8px; align-items: center;">
                            <button class="action" id="dark" style="font-size: 14px; padding: 8px 16px;">Resend
                                Invite</button>
                            <button class="action" id="delete" style="font-size: 14px; padding: 8px 16px;">Revoke Invite</button>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="member-checkbox"></td>
                        <td>
                            <div>
                                <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                                <a class="contributor" href="#">vothisau</a>
                            </div>
                        </td>
                        <td>example@email.com</td>
                        <td>July 23rd, 2022</td>
                        <td style="display: flex; flex-direction: row; gap: 8px; align-items: center;">
                            <button class="action" id="dark" style="font-size: 14px; padding: 8px 16px;">Resend
                                Invite</button>
                            <button class="action" id="delete" style="font-size: 14px; padding: 8px 16px;">Revoke Invite</button>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="member-checkbox"></td>
                        <td>
                            <div>
                                <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                                <a class="contributor" href="#">bemehbus</a>
                            </div>
                        </td>
                        <td>example@email.com</td>
                        <td>July 23rd, 2022</td>
                        <td style="display: flex; flex-direction: row; gap: 8px; align-items: center;">
                            <button class="action" id="dark" style="font-size: 14px; padding: 8px 16px;">Resend
                                Invite</button>
                            <button class="action" id="delete" style="font-size: 14px; padding: 8px 16px;">Revoke Invite</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="project-content" style="gap: 120px; margin-top: 32px;">
        <div class="left-section" style="width: 30%;">
            <h1>Requests</h1>
            <div style="color: var(--text-light);">Incoming join requests of the project.
            </div>
            <div style="display: flex; flex-direction: row; gap: 16px; align-items: center; margin: 12px 0px;">
                <div id="num-selected-4" style="font-weight: bold;">0 Selected</div>
                <select class="select-box" style="margin: 0px;">
                    <option>(action)</option>
                    <option>Accept</option>
                    <option>Deny</option>
                </select>
                <button class="button-small">Proceed</button>
            </div>
        </div>
        <div class="right-section" style="width: 70%;">
            <table style="margin: 0px" id="member-list">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="all-member-checkbox"></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Date Requested</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" id="member-checkbox"></td>
                        <td>
                            <div>
                                <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                                <a class="contributor" href="#">abcdef</a>
                            </div>
                        </td>
                        <td>example@email.com</td>
                        <td>July 23rd, 2022</td>
                        <td style="display: flex; flex-direction: row; gap: 8px; align-items: center;">
                            <button class="action" id="complete" style="font-size: 14px; padding: 8px 16px;">Accept</button>
                            <button class="action" id="delete" style="font-size: 14px; padding: 8px 16px;">Deny</button>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="member-checkbox"></td>
                        <td>
                            <div>
                                <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                                <a class="contributor" href="#">Mr. Brown</a>
                            </div>
                        </td>
                        <td>example@email.com</td>
                        <td>July 23rd, 2022</td>
                        <td style="display: flex; flex-direction: row; gap: 8px; align-items: center;">
                            <button class="action" id="complete" style="font-size: 14px; padding: 8px 16px;">Accept</button>
                            <button class="action" id="delete" style="font-size: 14px; padding: 8px 16px;">Deny</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    </div>
    <div class="footer">
        <hr>
        <div class="info">
            <div>@ 2023 LingoTeam. All rights reserved.</div>
            <div class="links">
                <a href="#">Support</a>
                <a href="#">Privacy</a>
                <a href="#">Contact Us</a>
                <a href="#">About</a>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script src="{{STATIC_URL}}js/collapsible.js"></script>
    <script src="{{STATIC_URL}}js/table.js"></script>
    <script src="{{STATIC_URL}}js/upload.js"></script>
</body>

</html>