<!DOCTYPE html>

<html>

<head>
    <link href="{{STATIC_URL}}css/dashboard.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/label.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/button.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/format.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/search-bar.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/table.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/pagination.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/popup.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/components/suggestion.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/project.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/task.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/icon.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/root.css" rel="stylesheet" />
    <title>Dashboard | LingoLab</title>
</head>

<body>
    <div class="header">
        <div style="display: flex; align-items: center; gap: 24px">
            <a href="{% url 'dashboard'%}" style="border: 1px solid white; border-radius: 99px;">
                <div class="icon white" id="arrow-left"></div>
            </a>
            <div class="logo">LingoLab</div>
        </div>
        <div class="functions">
            <div class="icon white" id="globe"></div>
            <div class="icon white" id="bell"></div>
            <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
        </div>
    </div>
    <div class="project-header">
        <div class="first-row">
            <div class="name">
                <div class="color"></div>New Project
            </div>
            <div class="features">
                <div class="icon size40px" id="search"></div>
                <select>
                    <option>Private</option>
                    <option>Protected</option>
                    <option>Public</option>
                </select>
                <div class="icon size40px" id="more-horizontal"></div>
            </div>
        </div>
        <div class="second-row">
            <div class="tabber">
                <a class="tab" id="inactive" href="{% url 'project' project_id %}">Main</a>
                <a class="tab" id="inactive" href="{% url 'members' %}">Members</a>
                <a class="tab" id="inactive" href="{% url 'labels' %}">Labels</a>
                <a class="tab" id="active" href="{% url 'tasks' %}">Tasks</a>
                <a class="tab" id="inactive" href="{% url 'contribution' %}">Contribution</a>
            </div>
        </div>
    </div>
    <div class="project-content">
        <div class="progression-container">
            <div class="progression">
                <div class="bar done"></div>
                <div class="bar ongoing"></div>
                <div class="bar"></div>
            </div>
            <div class="legend-container">
                <div class="legend">
                    <div style="width: 32px; height: 16px; background-color: var(--primary)"></div>
                    <div>Complete Task</div>
                    <div>(3/27)</div>
                </div>
                <div class="legend">
                    <div style="width: 32px; height: 16px; background-color: rgb(36, 98, 255, 0.3);"></div>
                    <div>On-Going Task</div>
                    <div>(7/27)</div>
                </div>
                <div class="legend">
                    <div style="width: 32px; height: 16px; background-color: var(--neutral-white)"></div>
                    <div>Pending Task</div>
                    <div>(17/27)</div>
                </div>
            </div>
        </div>
        <div class="progression-total">
            <div>5%</div>
            <div>complete</div>
        </div>
    </div>
    <div style="width: 100%; padding: 0px 100px; box-sizing: border-box">
        <div class="theader">
            <div style="display: flex; gap: 12px; align-items: center;">
                <h1>Tasks</h1>
                <div class="num">13</div>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center; gap: 8px">
                <div style="display: flex; flex-direction: row; gap: 16px">
                    <div>Results per page: </div>
                    <select>
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                    </select>
                </div>
                <div style="height: 20px; border-right: 2px solid var(--neutral-light-gray);"></div>
                <button class="icon">
                    <div class="icon" id="sort"></div>
                </button>
                <button class="icon">
                    <div class="icon" id="filter"></div>
                </button>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; width: 100%; gap: 16px; align-items: center;">
            <div class="search-bar" id="small" style="width: 100%;">
                <input placeholder="Search" type="text">
                <div class="icon" id="search"></div>
            </div>
            <button class="button-small" id="popupButton">New Task</button>
        </div>
        <div class="result-amount">Showing 1 to 10 of total 200 rows</div>
        <!-- Table -->
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Assignee</th>
                    <th>Contributors</th>
                    <th>Progress</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td style="width: 80px">
                        <div class="project-category" id="text-generation">{{task.category}}</div>
                    </td>
                    <td style="width: 25%;"><a class="task" href="{% url 'task_detail' task.taskid %}">{{task.title}}</a></td>
                    <td>{{task.date}}</td>
                    <td>
                        <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                    </td>
                    <td>
                        <div class="participants">
                            
                        </div>
                    </td>
                    <td>
                        <div class="progress" style="border: none; padding: 0px">
                            <div class="bar">
                                <div style="background-color: var(--primary); width: 50%; border-radius: 99px"></div>
                            </div>
                        </div>
                    </td>
                    <td><button class="action" id="edit">Edit</button><button class="action" id="delete">Delete</button>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        <div class="pagination">
            <div class="list-pages">
                <button>
                    <div class="icon" id="first"></div>
                </button>
                <button>
                    <div class="icon" id="previous"></div>
                </button>
                <button class="page" id="active">1</button>
                <button class="page" id="inactive">2</button>
                <button class="page" id="inactive">3</button>
                <button class="page" id="inactive">4</button>
                <button>
                    <div class="icon" id="next"></div>
                </button>
                <button>
                    <div class="icon" id="last"></div>
                </button>
            </div>
            <div class="custom-page">
                <div>Go to page:</div>
                <input type="text" value="2">
                <button class="icon-primary" style="width: 32px; height: 32px; padding: 0px">
                    <div class="icon white" id="arrow-right"></div>
                </button>
            </div>
        </div>
    </div>

    <div id="popup" style="width: 55%;">
        <div class="pheader">
            <div class="title">Create a new task</div>
            <button id="closeButton">
                <div class="icon size48px" id="close"></div>
            </button>
        </div>
        <hr>
        <form id="fm-create-task" method="POST" action="{% url 'create_task' %}">{% csrf_token %}</form>
        <div style="display: flex; flex-direction: row; gap: 32px;">
            <!-- Left -->
            <div style="display: flex; flex-direction: column; width: 100%;">
                <label>Title</label>
                <input name="task-title" form="fm-create-task" class="input-field" type="text"
                    placeholder="e.g. Specifying Formal Languages">

                <label>Category</label>
                <input class="input-field" type="text" name="task-category" form="fm-create-task">

                <label>Description</label>
                <textarea class="input-field" type="text" style="height: 60px; white-space:normal"
                    name="task-description" form="fm-create-task"></textarea>

                <label>Assign Members</label>
                <div style="display: flex; flex-direction: row; align-items: center; gap: 16px; position: relative; width: 100%;">
                    <input class="input-field" id="search-bar" style="width: 80%; margin: 4px 0px;" type="text" name="task-member" form="fm-create-task" autocomplete="off">
                    <div id="suggestionsDropdown" class="dropdown"></div>
                    <button class="button-small">Add</button>
                </div>

                <div class="participants" style="margin: 8px 0px 0px 8px;">
                    <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                    <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                    <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                    <div class="avatar"><img src="{{STATIC_URL}}images/sample avatar.png"></div>
                </div>
            </div>
            <!-- Right -->
            <div style="display: flex; flex-direction: column; width: 100%;">
                <label>Attached Dataset</label>
                <div style="display: flex; flex-direction: row; gap: 16px; width: 100%;" id="uploadBox">
                    <input name="task-dataset" form="fm-create-task" class="input-field" type="text"
                        placeholder="Search files..." style="width: 100%; margin: 4px 0px;">

                    <label for="fileInputSmall">
                        <div class="icon size40px" id="upload"></div>
                    </label>
                    <input type="file" id="fileInputSmall">
                </div>

                <!-- File input -->
                <div id="uploadStatus"></div>
                <div class="file-collection select" style="font-size: 90%">
                    <div class="file-container">
                        <div class="info-container">
                            <div class="file-icon">
                                <div class="icon light size48px" id="search"></div>
                            </div>
                            <div class="info">
                                <div>rawdata.txt</div>
                                <div>12 Jan, 2023 - 09:30</div>
                            </div>
                        </div>
                        <div style="display: flex; align-items: center;">
                            <div class="size">24.5 KB</div>
                            <div class="icon" id="close"></div>
                        </div>
                    </div>
                    <div class="file-container">
                        <div class="info-container">
                            <div class="file-icon">
                                <div class="icon light size48px" id="search"></div>
                            </div>
                            <div class="info">
                                <div>rawdata.txt</div>
                                <div>12 Jan, 2023 - 09:30</div>
                            </div>
                        </div>
                        <div style="display: flex; align-items: center;">
                            <div class="size">24.5 KB</div>
                            <div class="icon" id="close"></div>
                        </div>
                    </div>
                    <div class="file-container">
                        <div class="info-container">
                            <div class="file-icon">
                                <div class="icon light size48px" id="search"></div>
                            </div>
                            <div class="info">
                                <div>rawdata.txt</div>
                                <div>12 Jan, 2023 - 09:30</div>
                            </div>
                        </div>
                        <div style="display: flex; align-items: center;">
                            <div class="size">24.5 KB</div>
                            <div class="icon" id="close"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="action-buttons">
            <button class="button" id="ghost">Cancel</button>
            <button class="button" type="submit" form="fm-create-task">Done</button>
        </div>

        <script src="{{STATIC_URL}}js/upload.js"></script>
    </div>

    </div>
    <div class="footer">
        <hr>
        <div class="info">
            <div>@ 2023 LingoTeam. All rights reserved.</div>
            <div class="links">
                <a href="#">Support</a>
                <a href="#">Privacy</a>
                <a href="#">Contact Us</a>
                <a href="#">About</a>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script src="{{STATIC_URL}}js/suggestion.js"></script>
    <script src="{{STATIC_URL}}js/collapsible.js"></script>
    <script src="{{STATIC_URL}}js/popup.js"></script>
    <script type="text/javascript">
        document.getElementById("fm-create-task").addEventListener("submit", function(event) {
        event.preventDefault(); 
        var formData = new FormData(this);
        fetch(this.action, {
        method: "POST",
        body: formData
        })
        .then(function(response) {
            if (!response.ok) {
            throw new Error("Lỗi: " + response.status);
            }
            return response.json();
        })
        .then(function(data) {
        alert(data.message);
        window.location.href = 'tasks'
        })
        .catch(function(error) {
        console.error("Lỗi:", error);
        });
        });
    </script>
</body>

</html>